{% extends "BundlesDefaultBundle:Layouts:main.html.twig" %}
{% block content %}
    <section class="container" role="contentinfo">
        <div class="wing-image"></div>
        <div class="index-wrap">
            {% include 'BundlesDefaultBundle:Default:search_form.html.twig' %}
            <div class="info-wrap">
                <div class="now-find-wrap">
                    <div class="title">Сейчас на сайте находят</div>
                    <div class="list-now-flights">
                        <div class="item"><i class="icon-airlines"></i><span class="info-flight">Москва - Симферополь</span><span class="price-flight">3 000 P</span></div>
                        <div class="item"><i class="icon-airlines"></i><span class="info-flight">Москва - Симферополь</span><span class="price-flight">3 000 P</span></div>
                        <div class="item"><i class="icon-airlines"></i><span class="info-flight">Москва - Симферополь</span><span class="price-flight">3 000 P</span></div>
                        <div class="item"><i class="icon-airlines"></i><span class="info-flight">Москва - Симферополь</span><span class="price-flight">3 000 P</span></div>
                        <div class="item"><i class="icon-airlines"></i><span class="info-flight">Москва - Симферополь</span><span class="price-flight">3 000 P</span></div>
                    </div>
                </div>
                <div class="services-button"><a href="#"><i class="icon-time"></i><span>Время работы</span></a><a href="#"><i class="icon-help"></i><span>Помощь</span></a><a href="#"><i class="icon-skype"></i><span>Свяжитесь</span></a></div>
                <div class="pay-for-booking">
                    <button type="submit" class="button button-buy">Оплатить<br/> бронь</button>
                </div>
            </div>
        </div>

    </section>
    {% include 'BundlesDefaultBundle:Default:_seoContent.html.twig' %}
    {% include 'BundlesDefaultBundle:AngularViews:angViews.html.twig' %}
{% endblock %}

{% block js %}
    {{ parent() }}
    <script>
        window.searchFormOptions = {{ searchFormOptions|json_encode|raw }};
    </script>
    <script src="{{ asset('build/dist/js/index/index.js') }}" type="text/javascript"></script>
{% endblock %}