.container
    // Сайдбар
    aside.sidebar(role='sidebar')
        form(action='#')
            .group-sidebar
                .info-order
                    h3 Информация о заказе
                    .ticket-group
                        .title 1 Билет: в две стороны
                        .ticket 16 июля 2015 г., четверг MOW 02:35 -> JFK 05:30 10 ч. 05 м., прямой рейс
                        .ticket 26 июля 2015 г., четверг JFK 02:25 -> MOW 15:30+1 22 ч.  25 м. 2 пересадки
                    .passenjer-group
                        .title Пассажир: 1 взрослый
                        table
                            tbody
                                tr
                                    td Тариф
                                    td(align='right') 1230.00 руб.
                                tr
                                    td Таксы и сборы
                                    td(align='right') 450.00 руб.
                                tr
                                    td Агентский сбор
                                    td(align='right') 50.00 руб.
                            tfoot
                                tr
                                    td ИТОГО
                                    td(align='right') 1720.00 руб.
                    p Все цены указаны в рублях РФ.
                    p Информация об оплате.
    // Сайдбар
    .main
        .steps
            a(href='#') Поиск
            span >
            a.act-step(href='#') Бронирование
            span >
            a.disable(href='#') Оплата
            span >
            a.disable(href='#') Подтверждение
        // Табы (детали рейса, правила тарифов)
        .bookgin-tab.tab-wrap
            .tab-link
                a.act-link(href='#detals') Детали рейса
                a(href='#pravila') Правила тарифа
            .tab-content
                #detals.tab.act-tab
                    // Авиабилет
                    .ticket
                        .logo-alians
                            img(src='/bundles/bundlesdefault/front/images/logo-skyteam.png', alt='')
                        .ticket-price
                            h2 8 174 RUB
                            span.col-passenjers
                                | - за
                                span.col-user 1 человека
                                |  с налогами и сборами
                        form.book-form(action='')
                            // Группа билетов в сторону прилета
                            .ticket-wrap
                                .date-ticket
                                    | туда
                                    span 23.06.2015
                                .group-ticket
                                    // Билет
                                    .ticket-body.checked-ticket
                                        // Выбор билета (радио кнопка)
                                        .radio-group
                                            .radio-button
                                                input(type='radio', name='info', checked='checked', value='8619FA76-F5E7-4E51-A5D5-BF68620C4EAB')
                                                input(type='hidden', value='5587f13faf632c700200000c', name='info[request_id]')
                                        // Выбор билета
                                        // Имя компании
                                        .company
                                            .image-block
                                                i.city-logo.UN
                                                    img(src='/bundles/bundlesdefault/front/images/aeroflot.png', alt='')
                                            .info-block
                                                .name Трансаэро
                                                span.type Боинг 737-500
                                                span.number-reys UN2371
                                        // Имя компании
                                        // Время вылета
                                        .up-date
                                            p Время вылета:
                                            .time 01:25
                                            .city-block
                                                .city Москва
                                                .aeroport
                                                    | Домодедово
                                                    span.terminal(title='терминал А') A
                                        // Время вылета
                                        // Время прилета
                                        .down-date
                                            p Время вылета:
                                            .time
                                                | 01:25
                                                span + 1 день
                                            .city-block
                                                .city Москва
                                                .aeroport
                                                    | Домодедово
                                                    span.terminal(title='терминал А') A
                                        // Время вылета
                                        // Продолжительность
                                        .duration
                                            p Продолжительность:
                                            .time 1 ч 35 м
                                            .transplant прямой рейс
                                            .luggage Багаж: 1 место (20 кг)
                                        // Продолжительность
                                    // Билет
                            // Группа билетов в сторону прилета
                            // Группа билетов в сторону прилета
                            .ticket-wrap
                                .date-ticket
                                    | обратно
                                    span 23.06.2015
                                .group-ticket
                                    // Билет
                                    .ticket-body.checked-ticket
                                        // Выбор билета (радио кнопка)
                                        .radio-group
                                            .radio-button
                                                input(type='radio', name='info-1', checked='checked', value='8619FA76-F5E7-4E51-A5D5-BF68620C4EAB')
                                                input(type='hidden', value='5587f13faf632c700200000c', name='info[request_id]')
                                        // Выбор билета
                                        // Имя компании
                                        .company
                                            .image-block
                                                i.city-logo.UN
                                                    img(src='/bundles/bundlesdefault/front/images/aeroflot.png', alt='')
                                            .info-block
                                                .name Трансаэро
                                                span.type Боинг 737-500
                                                span.number-reys UN2371
                                        // Имя компании
                                        // Время вылета
                                        .up-date
                                            p Время вылета:
                                            .time 01:25
                                            .city-block
                                                .city Москва
                                                .aeroport
                                                    | Домодедово
                                                    span.terminal(title='терминал А') A
                                        // Время вылета
                                        // Время прилета
                                        .down-date
                                            p Время вылета:
                                            .time
                                                | 01:25
                                                span + 1 день
                                            .city-block
                                                .city Москва
                                                .aeroport
                                                    | Домодедово
                                                    span.terminal(title='терминал А') A
                                        // Время вылета
                                        // Продолжительность
                                        .duration
                                            p Продолжительность:
                                            .time 1 ч 35 м
                                            .transplant
                                                p перелет с 2 пересадками:
                                                p
                                                    b Дубай
                                                    | : 7 ч 10 м
                                                    i.icon-night
                                                    i.icon-bed
                                                p
                                                    b Сингапур
                                                    | : 1 ч 10 м
                                                    i.icon-night
                                                    i.icon-time-duration
                                            .luggage Багаж: 1 место (20 кг)
                                        // Продолжительность
                                    // Билет
                            // Группа билетов в сторону прилета
                    // Авиабилет
                #pravila.tab
        // Табы
        // Группа (оплатить до, информация о багаже)
        .group
            .luggage-block
                .title Информация о багаже
                .info
                    p
                        | Багаж:
                        b 20 кг
                    p
                        | Ручная кладь:
                        b 8 кг
            .buy-type-tarif
                p
                    | Оплатить до:
                    b 18:00 часов 23.06.2015 г.
                p
                    | Тип тарифа:
                    b невозвратный
        // Группа
        // Список пассажиров
        include form
.empty
