.container
    include partial/leftSidebar
    div(class="main ng-hide" ng-show="tickets.length > 0")
        .steps
            a(href='#') Поиск
            span >
            a.act-step(href='#') Бронирование
            span >
            a.disable(href='#') Оплата
            span >
            a.disable(href='#') Подтверждение
        // Табы (детали рейса, правила тарифов)
        .bookgin-tab.tab-wrap
            .tab-link
                a.act-link(href='#detals') Детали рейса
                a(href='#pravila') Правила тарифа
            .tab-content
                #detals.tab.act-tab
                    // Авиабилет
                    include ticket/ticket
                    // Авиабилет
                #pravila.tab
        .group
            //.luggage-block
            //    .title Информация о багаже
            //    .info
            //        p
            //            | Багаж:
            //            b 20 кг
            //        p
            //            | Ручная кладь:
            //            b 8 кг
            .buy-type-tarif
                p(ng-show="tickets[0].last_ticket_date")
                    | Оплатить до:
                    b {{dateFormat(tickets[0].last_ticket_date,"H:mm D.M.YYYY")}}
                p(ng-hide="tickets[0].refundable")
                    | Тип тарифа:
                    b невозвратный

        include form
.empty
