link(rel="stylesheet" type="text/css" href="/bundles/bundlesdefault/css/ngDialog.min.css")
link(rel="stylesheet" type="text/css" href="/bundles/bundlesdefault/css/ngDialog-custom-width.css")
link(rel="stylesheet" type="text/css" href="/bundles/bundlesdefault/css/ngDialog-theme-default.min.css")
link(rel="stylesheet" type="text/css" href="/bundles/bundlesdefault/css/ngDialog-theme-plain.min.css")
.container
    include ../_common/leftSidebar
    div(class="main ng-hide" ng-show="tickets.length > 0")
        .steps
            a(href='#') Поиск
            span >
            a.act-step(href='#') Бронирование
            span >
            a.disable(href='#') Оплата
            span >
            a.disable(href='#') Подтверждение
        .bookgin-tab.tab-wrap
            .tab-link
                a.act-link(href='#detals') Детали рейса
                a(href='#fare-rules') Правила тарифа
            .tab-content
                #detals.tab.act-tab
                    // Авиабилет
                    include ticket/ticket
                    // Авиабилет
                div(id="fare-rules" class="ticket tab act-tab")
                    div(class="ng-hide" ng-show="tickets[0].refundable")
                        div {{translator.trans("frontend.book.return_ticket")}}
                        div {{translator.trans("frontend.non_return")}}
                    div(class="button button-buy" ng-click="getFareRules()") {{translator.trans("frontend.avia_fare.modal_link")}}


        .group

            //.luggage-block
            //    .title Информация о багаже
            //    .info
            //        p
            //            | Багаж:
            //            b 20 кг
            //        p
            //            | Ручная кладь:
            //            b 8 кг
            .buy-type-tarif
                p(ng-show="tickets[0].last_ticket_date")
                    | Оплатить до:
                    b {{dateFormat(tickets[0].last_ticket_date,"H:mm D.M.YYYY")}}
                p(ng-hide="tickets[0].refundable")
                    | Тип тарифа:
                    b невозвратный

        include form
.empty
