.container
    include partial/leftSidebar
    .main
        .steps
            a(href='#') Поиск
            span >
            a.act-step(href='#') Бронирование
            span >
            a.disable(href='#') Оплата
            span >
            a.disable(href='#') Подтверждение
        // Табы (детали рейса, правила тарифов)
        .bookgin-tab.tab-wrap
            .tab-link
                a.act-link(href='#detals') Детали рейса
                a(href='#pravila') Правила тарифа
            .tab-content
                #detals.tab.act-tab
                    // Авиабилет
                    include ticket/ticket
                    // Авиабилет
                #pravila.tab
        // Табы
        // Группа (оплатить до, информация о багаже)
        .group
            .luggage-block
                .title Информация о багаже
                .info
                    p
                        | Багаж:
                        b 20 кг
                    p
                        | Ручная кладь:
                        b 8 кг
            .buy-type-tarif
                p
                    | Оплатить до:
                    b 18:00 часов 23.06.2015 г.
                p
                    | Тип тарифа:
                    b невозвратный
        // Группа
        // Список пассажиров
        include form
.empty
