.idea/
web/*
!web/images
!web/.htaccess
!web/*.php
!web/*.png
!web/*.ico
app/bootstrap.php.cache
app/cache/*
app/config/parameters.yml
app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
build/
vendor/
bin/
composer.phar
composer.lock
node_modules
bower_components