<nav class="navbar navbar-default" role="navigation">
    <div class="main-container">
        {#<a href="/" class="brand" style="padding:8px 20px;"><i class="icon-coffee"> CMF</i></a>#}
        <div class="collapse navbar-collapse">
            {{ knp_menu_render('BundlesDefaultBundle:Builder:mainMenu', {'currentClass': 'active', 'template': 'AcmeAdminBundle:Menu:knp_menu.html.twig'}) }}

        </div>
    </div>
</nav>