/* Скрывающиеся блоки */

#loader,
.complex-search,
.row-one {
	display: none;
}

/* Контент  */

body,
html {
	background: #fff;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#E8EFF6));
	background: -webkit-linear-gradient(#fff, #E8EFF6);
	background: -moz-linear-gradient(#fff, #E8EFF6);
	background: -ms-linear-gradient(#fff, #E8EFF6);
	background: -o-linear-gradient(#fff, #E8EFF6);
	background: linear-gradient(#fff, #E8EFF6);
	-pie-background: linear-gradient(#fff, #E8EFF6);
}

body,
html {
	min-height: 100%;
}

/* Шапка */

header {
	padding: 20px 0;
}

.logo {
	width: 150px;
	float: left;
}

.logo img {
	width: 100%;
	height: auto;
}

/* Поле прилета */

#ui-id-1,
#ui-id-2 {
	top: 40px !important;
	left: 0 !important;
	z-index: 999999;
	width: 100% !important;
}

#ui-id-1 li,
#ui-id-2 li {
	padding: 2px 4px;
	cursor: pointer;
}

#ui-id-1 li:hover,
#ui-id-2 li:hover,
#ui-id-1 .ui-state-focus,
#ui-id-2 .ui-state-focus {
	font-weight: normal;
	background: #00beff;
}

.date_from {
	position: relative;
}

.dp-highlight .ui-state-default {
	background: #00BDFF;
    color: #FFF;
}

.first-sel a {
	background: #0085B0;
} 

.popup-date {
	display: none;
	position: absolute;
	left: 15px;
    top: 65px;
	z-index: 999999;
}

/* .search_form_date_to {
	left: 55.5px !important;
}
 */
.ui-datepicker {
	border-color: #00BEFF;
}

.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default {
	background: -webkit-linear-gradient(#f4f4f4 0%, #dcdcdc 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -o-linear-gradient(#f4f4f4 0%, #dcdcdc 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: linear-gradient(#f4f4f4 0%, #dcdcdc 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	font-weight: normal;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.7) inset;
	border-color: -moz-use-text-color #009cc3 #007897 -moz-use-text-color;
    border-image: none;
    border-right: 1px solid #009cc3;
    border-style: none solid solid none;
    border-width: medium 1px 1px medium;
}

.ui-datepicker-calendar .ui-state-default, 
.ui-datepicker-calendar .ui-state-hover, 
.ui-datepicker-calendar .ui-state-highlight, 
.ui-datepicker-calendar .ui-state-active {
	border-width: 0;
}

.ui-datepicker-calendar .ui-state-highlight { 
	color: #525252 !important;
	background: -webkit-linear-gradient(#C9C9C9 0%, #DFDFDF 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -o-linear-gradient(#C9C9C9 0%, #DFDFDF 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: linear-gradient(#C9C9C9 0%, #DFDFDF 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.ui-datepicker-calendar .ui-state-hover {
	color: #525252 !important;	
	background: -webkit-linear-gradient(#C9C9C9 0%, #DFDFDF 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -o-linear-gradient(#C9C9C9 0%, #DFDFDF 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: linear-gradient(#C9C9C9 0%, #DFDFDF 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.ui-datepicker-group-last {
	width: 33.4%;
}

.ui-datepicker-group .ui-datepicker-header {
	background: #00BEFF;
	padding: 5px 0;
}

.ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 1px !important;
	border-left-style: solid;
	border-left-color: #fff;
	border-right: 1px solid #fff;
} 

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	top: 7px;
}

.ui-datepicker .ui-datepicker-prev {
	left: 7px
}

.ui-datepicker .ui-datepicker-next {
	right: 7px
}

.ui-datepicker-week-end a,
.ui-datepicker-week-end .ui-state-hover,
.ui-datepicker-week-end.sel-date a {
	color: #D70000 !important;
}

.sel-date a {
	background: #00bdff !important;
	color:#fff !important;
}

.ui-datepicker-calendar .ui-state-active,
.ui-datepicker-calendar.first-date .ui-state-highlight,
.last-date a,
.first-date a {
	background: #FF9D1A !important;
	color:#fff !important;
}

.last-date:hover a,
.first-date:hover a {
	color:#fff !important;
	background: #FF9D1A !important;
}

.ui-datepicker-calendar .ui-state-active:hover {
	color:#fff !important;
}

.ui-datepicker {
	width: 45em !important;
}

/* Автокомплит */

.ui-autocomplete {
	border: 1px solid #cecece;
}

/* Кнопка менять местами */

.btn-refresh {
	width: 41px;
	height: 41px;
	background: url('../images/refresh.jpg') no-repeat center center;
	border:none;
	transition: transform .4s;
}

.btn-refresh:hover {
	transform: rotate(180deg);
}

.btn-refresh:active {
	background: url('../images/refresh.jpg') no-repeat center center;
}

.btn-refresh .glyphicon-refresh {
	width: 41px;
	height: 41px;
	margin: -6px 0 0 -12px;
}

.btn-refresh .glyphicon-refresh:before {
	display: none;
}

/* Выбор возраста */

.vozrast {
	padding-left: 0;
	padding-right: 0;
	margin-right: 0;
	margin-left: 0;
}

.info-vozrast {
	width: 100%;
	text-transform: lowercase;
	font-size: 11px;
	margin-bottom: -5px;
	text-align: center;
}

.vozrast-block .info-vozrast {
	font-size: 14px;
	text-align: left;
}

.avia-company {
	position: relative;
	top: -1px;
}

/* Кнопка поиска */

.btn-fly {
	margin-top: 20px;
	border: none;
	font-size: 16px;
	text-transform: uppercase;
	text-align: center; 
	padding: 10px 30px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: #888 0px 2px 3px;
	-moz-box-shadow: #888 0px 2px 3px;
	box-shadow: #888 0px 2px 3px;
	background: #FDAB01;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FDAB01), to(#D95C23));
	background: -webkit-linear-gradient(#FDAB01, #D95C23);
	background: -moz-linear-gradient(#FDAB01, #D95C23);
	background: -ms-linear-gradient(#FDAB01, #D95C23);
	background: -o-linear-gradient(#FDAB01, #D95C23);
	background: linear-gradient(#FDAB01, #D95C23);
	-pie-background: linear-gradient(#FDAB01, #D95C23);
	behavior: url(/pie/PIE.htc);
	/* background: #FF9D1A url('../images/fly.png') no-repeat 90% center; */
 	font-weight: bold;
}

.buy-ticket {
	border: none;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center; 
	padding: 10px 20px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: #888 0px 2px 3px;
	-moz-box-shadow: #888 0px 2px 3px;
	box-shadow: #888 0px 2px 3px;
	background: #FDAB01;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FDAB01), to(#D95C23));
	background: -webkit-linear-gradient(#FDAB01, #D95C23);
	background: -moz-linear-gradient(#FDAB01, #D95C23);
	background: -ms-linear-gradient(#FDAB01, #D95C23);
	background: -o-linear-gradient(#FDAB01, #D95C23);
	background: linear-gradient(#FDAB01, #D95C23);
	-pie-background: linear-gradient(#FDAB01, #D95C23);
	behavior: url(/pie/PIE.htc);
	/* background: #FF9D1A url('../images/fly.png') no-repeat 90% center; */
 	font-weight: bold;
}

.btn-fly:hover,
.btn-fly:active,
.btn-fly.active,
.btn-fly:focus {
	/* background: #ff9000 url('../images/fly.png') no-repeat 90% center; */
	background: #D95C23;
}

.buy-ticket:hover,
.buy-ticket:active,
.buy-ticket.active,
.buy-ticket:focus {
	/* background: #ff9000 url('../images/fly.png') no-repeat 90% center; */
	background: #D95C23;
}

.radio-ticket {
	width: 4.33333%;
	height: 100%;
	position: relative;
}

.col-md-3.company-info {
    width: 29%;
    padding-left: 25px;
}

.col-md-3.company-info .img-name {
	padding-left: 0;
	font-size: 11px;
}

.ticket-body > div {
	padding-left: 0;
}

.time-up-avia p,
.time-down-avia p,
.time-duration-avia p{
	font-size: 11px;
 	margin-bottom: 0;
}

.time-up,
.time-down {
	font-size: 20px;
	font-weight: bold;
	color:#ff9000;
	/* width: 40%;*/
	margin-top: -3px; 
}

.city-up,
.city-down {
	font-size: 12px;
	font-weight: bold;
	color:#5b5b5b;
	text-transform: uppercase;
}

.aeropot-up,
.aeropot-down {
	color:#949494;
	font-weight: bold;
	font-size: 10px;
}


.time-duration {
	font-weight: bold;
	font-size: 16px;
	color:#ff9000;
}

.btn-transplant {
	background: none;
	border: none;
	border-radius: 5px;
	background: #aaa;
	border: 1px solid #999;
	background: -webkit-linear-gradient(#fff, #aaa) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -o-linear-gradient(#fff, #aaa) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: linear-gradient(#fff, #aaa) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.btn-transplant:focus,
.btn-transplant:hover,
.btn-transplant:active {
	background: #fff;
	background: -webkit-linear-gradient(#aaa, #fff) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -o-linear-gradient(#aaa, #fff) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: linear-gradient(#aaa, #fff) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.list-transplant {
	
}

/* Заголовок календаря */

.panel-success > .panel-heading {
	background: #f5f5f5;
}

.panel-heading .panel-title {
	color:#FF9000;
}


/* Табы */

a:focus {
	outline: none;
}

.button-close {
	padding: 16px;
	background: #fff url('../images/close2.png') no-repeat center center;
}

.block-img-avia {
	padding: 6px 4px 2px;
}

.tab-pane {
	box-shadow: 0 0 3px 0 #999;
	border-radius: 0 0px 10px 10px
}

.vozrast-icon {
	padding: 2px 9px;
}

.button-refresh {
	padding: 2px 8px;
}

.ui-datepicker {
	width: 39.3em !important;
}

.search_form_date_to {
	left: none !important;
	right: 0 !important;
}

#search-form .row,
.date-from,
.date-to {
	padding-bottom: 10px;
}

.form-filter-inner #search-form .row,
.form-filter-inner .date-from,
.form-filter-inner .date-to {
	padding-bottom: 5px;
}

.form-filter-inner .price-best .form-group {
	margin-bottom: 5px;
}

.form-filter-inner label,
#filter-form label {
	font-weight: normal;
}

#filter-form .form-group {
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px dashed #fff;
}

.list-form-input {
	box-shadow: 0 0 5px 0 #999;
	border: none;
	border-radius: 5px;
}

.form-control {
	padding: 6px 7px;
}

#filter-form .form-control {
	padding: 2px;
	height: 28px;
}

#filter-form .form-control option {
	padding: 2px;
}

#filter_departure_time label,
#filter_arrival_time label {
	margin-left: 5px;
}

#search_form_return_way label {
	margin-bottom: 2px;
}

.price-reys > div.price-block {
	margin-bottom: 15px;
	margin-top: 5px;
}

.vozrast > div select {
	height: 33px;
}

.btn-fly {
	margin-top: -10px;
}

.col-avia {
	width: 46%;
}

.col-return {
	width: 8%;
	padding: 0;
}

.return-way-index label,
.return-way-index input {
	display: inline-block;
	vertical-align: middle;
}

.return-way-index label {
	margin-right: 15px;
	font-size: 13px;
	margin-top: 9px;
	font-weight: normal;
}

.return-way-index input {
	margin-right: 5px;
}

#ui-id-1, #ui-id-2 {
	top: 33px !important;
}

.nav-tabs > li {
	margin-bottom: 0;
}

.nav-tabs li a {
	font-size: 18px;
	position: relative;
}

.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
	background: #6ABCFF;
	border-radius: 10px 10px 0 0;
}

.nav-tabs > li.active > a {
	box-shadow: 0 0 3px 0 #999;
}

.now-find .panel-body {
	box-shadow: 0 0 3px 0 #999;
}

.nav-tabs > li.active > a:after {
	content: '';
	width: 100%;
	height: 3px;
	position: absolute;
	bottom: -4px;
	left: 0;
	background: #6ABCFF;
}

.panel-default > .panel-heading {
	background: #6ABCFF;
	border-bottom: 1px dashed #fff;
}

.panel-default {
	border-top: none;
}

.panel-blue {
	background: #6ABCFF;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#6ABCFF), to(#d4effc));
	background: -webkit-linear-gradient(#6ABCFF, #d4effc);
	background: -moz-linear-gradient(#6ABCFF, #d4effc);
	background: -ms-linear-gradient(#6ABCFF, #d4effc);
	background: -o-linear-gradient(#6ABCFF, #d4effc);
	background: linear-gradient(#6ABCFF, #d4effc);
}

.input-group-addon {
	background-color: #f8f8f8;
}

.now-find .panel-body {
	height: 405px;
	margin-top: 48px;
}

.now-find .panel-heading {
	padding: 0px 15px 10px;
}

.panel-body {
	color:#666;
}

.panel-body label {
	font-weight: normal;
	margin-bottom: 2px !important;
}

.list-now-find {
	height: 205px;
	overflow: hidden;
	margin-bottom: 10px;
}

.glyphicon-times,
.glyphicon-help,
.glyphicon-skype {
	height: 22px;
	display: inline-block;
}

.glyphicon-times {
	background: url('../images/glyphicon-times.png') no-repeat center;
}

.glyphicon-help {
	background: url('../images/glyphicon-help.png') no-repeat center center;
}

.glyphicon-skype {
	background: url('../images/glyphicon-skype.png') no-repeat center center;
}

.btn-info {
	padding: 5px 6px;
}

.btn-info .glyphicon:empty {
	width: 2em;
}

.group-info .form-group {
	margin-bottom: 5px;
}

.group-info .form-group .form-group {
	vertical-align: middle;
}

.group-lang {
	margin-right: 0px;
}

.label-from label {
	margin-bottom: 0;
}

.date-icon {
	background: #fff url('../images/date-min.png') no-repeat center center;
	padding: 4px 16px;
}

.adult-icon {
	background: #f8f8f8 url('../images/adults-min-blue.png') no-repeat center center;
}

.child-icon {
	background: #f8f8f8 url('../images/child-blue.png') no-repeat center center;
}

.infants-icon {
	background: #f8f8f8 url('../images/infant-blue.png') no-repeat center center;
}

.filter-form {
	width: 24%;
	padding-left: 0;
	padding-right: 0;
}

.bg-gradient {
	background: #6ABCFF;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#6ABCFF), to(#d4effc));
	background: -webkit-linear-gradient(#6ABCFF, #d4effc);
	background: -moz-linear-gradient(#6ABCFF, #d4effc);
	background: -ms-linear-gradient(#6ABCFF, #d4effc);
	background: -o-linear-gradient(#6ABCFF, #d4effc);
	background: linear-gradient(#6ABCFF, #d4effc);
}

.result-box {
	width: 76%;
	padding-right: 0;
}

.well {
	padding: 10px;
}

.city-from-block,
.city-to-block {
	padding-bottom: 10px;
}

.return-way-block {
	padding-bottom: 5px;
}

.return-way-block input {
	margin-right: 5px;
}

.ticket-body:hover {
	border: 1px solid #dadada;
	background: -webkit-linear-gradient(#f5f5f5, #dadada) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -o-linear-gradient(#f5f5f5, #dadada) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: linear-gradient(#f5f5f5, #dadada) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.ticket-body .radio-button {
	/* visibility: hidden; */
}

.radio-ticket {
	width: 25px;
	position: absolute;
	top: 50%;
	margin-top: -10px;
}

.checked-block {
	/* background: #6ABCFF;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#6ABCFF), to(#d4effc));
	background: -webkit-linear-gradient(#6ABCFF, #d4effc);
	background: -moz-linear-gradient(#6ABCFF, #d4effc);
	background: -ms-linear-gradient(#6ABCFF, #d4effc);
	background: -o-linear-gradient(#6ABCFF, #d4effc);
	background: linear-gradient(#6ABCFF, #d4effc); */
	border: 1px solid #dadada;
	background: -webkit-linear-gradient(#f5f5f5, #dadada) repeat scroll 0 0 rgba(0, 0, 0, 0);
	 background: -o-linear-gradient(#f5f5f5, #dadada) repeat scroll 0 0 rgba(0, 0, 0, 0);
	 background: linear-gradient(#f5f5f5, #dadada) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.ticket-body {
	cursor: pointer;
	padding: 10px;
	border: 1px solid #dadada;
	border-radius: 8px;
	position: relative;
}

.panel-ticket {
	border-radius: 8px;
	border: none;
	margin-bottom: -1px;
}

.add-btn {
	margin-top: 15px;
}

.img-company img {
	width: 100%;
	height: auto;
}

.ticket-well {
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 0 7px 0 rgba(0,0,0,.3);
	padding-top: 15px;
}

.ticket-well.well {/* 
    padding-top: 26px; */
    position: relative;
}

.price-ticket {
    left: 10px;
    position: absolute;
    top: 5px;
}

.price-ticket h2 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 24px;
	color:#ff9000;
	font-weight: bold;
}

.price-ticket h2,
.price-ticket .col-block {
	display: inline-block;
	vertical-align: bottom;
}

.price-ticket span.col-user {
	font-size: 20px;
	color:#292929;
	display: inline-block;
	position: relative;
	top: 1px;
}

.date-ticket {
	font-size: 16px;
	color:#292929;
	text-align: center;
}

.date-ticket .date-title {
	width: 168px;
	display: inline-block;
	background: url('../images/avia-up.png') no-repeat 3px 9px;
	text-align: left;
	padding-left: 45px;
	font-size: 18px;
}

.first-element {
	margin-top: 20px;
}

.down-time-block .date-title {
	background: url('../images/avia-up-back.png') no-repeat 0px 7px;
}

/* Таблица календарь */

.result-box .panel-box {
    margin-bottom: 0;
}
.well-box {
    border: medium none;
    padding: 0;
}
.table-calendar {
	font-size: 12px;
}

.table-calendar > thead > tr > th, 
.table-calendar > thead > tr > td, 
.table-calendar > tbody > tr > th, 
.table-calendar > tbody > tr > td, 
.table-calendar > tfoot > tr > th, 
.table-calendar > tfoot > tr > td {
    font-weight: normal;
    padding: 5px !important;
}
.table-calendar td:first-of-type,
.table-calendar tr:first-of-type td, 
.table-calendar thead th {
	background: #EDEDEE;
    /* background: -webkit-linear-gradient(#6ABCFF, #d4effc) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -o-linear-gradient(#6ABCFF, #d4effc) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: linear-gradient(#6ABCFF, #d4effc) repeat scroll 0 0 rgba(0, 0, 0, 0); */
    text-align: center;
}

.table-calendar tr:first-of-type td:first-of-type {
	background: #fff;
}

.table-calendar thead th:first-of-type {
    background: none repeat scroll 0 0 #fff;
    color: #000;
}

.betterhover {
    background: #f5f5f5;
}

.table-hover > tbody > tr:hover > td, 
.table-hover > tbody > tr:hover > th {
    color: #0074bc;
}

.table-hover tr:first-of-type:hover > td {
	color:#666;
}

.table-hover tr:first-of-type:hover td {
	background: #ededee !important;
}

.table-hover tr:first-of-type:hover td:first-of-type {
	background: #fff !important;
}

.tooltip.in {
    opacity: 1;
}
.tooltip-inner {
    background: none repeat scroll 0 0 #428bca;
    color: #fff;
}
.tooltip.top .tooltip-arrow {
    border-top-color: #428bca;
}
.form-filter-inner label, .table-calendar {
    margin-bottom: 0;
}
.return-way-inner label {
    position: relative;
    top: -2px;
    clear: right;
}

/* Общая сумма за билет */

.total-price-block {
	width: 20%;	
}

.total-price-block h3 {
	font-size: 22px;
}

.total-price {
	color: #ff9000;
    font-size: 26px;
    font-weight: bold;
    position: relative;
    top:1px;
}

.order-block {
	width: 80%;
}

.book-tab hr {
	margin-top: 10px;
	margin-bottom: 0;
}

.book-tab .rules-tab,
.tab-user-info .well {
	background: #6ABCFF;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#6ABCFF), to(#d4effc));
	background: -webkit-linear-gradient(#6ABCFF, #d4effc);
	background: -moz-linear-gradient(#6ABCFF, #d4effc);
	background: -ms-linear-gradient(#6ABCFF, #d4effc);
	background: -o-linear-gradient(#6ABCFF, #d4effc);
	background: linear-gradient(#6ABCFF, #d4effc);
}

.tab-user-info .well {
	border-top: 0 none;
	box-shadow: none;
}

.book-tab table {
	margin-bottom: 0;
}

.book-tab td,
.book-tab th {
	border-bottom: 1px solid #Fff;
}

.book-tab tbody td {
	color:#555;
}

.book-tab tbody td:last-of-type {
	color: #333;
	font-weight: bold;
}

.list-in-tab .down-time-block .panel:last-of-type {
	margin-bottom: 0;
}

/* .tab-user-info label,
.tab-user-info .controls {
	display: inline-block;
	margin-right: -5px;
}

.tab-user-info label {
	width: 20%;
}

.tab-user-info .controls {
	width: 80%;
} */

.intl-tel-input .flag-dropdown {
	height: 34px;
}

@media screen and (min-width: 1000px) {
	.modal-dialog {
	    padding-bottom: 30px;
	    padding-top: 30px;
	    width: 1000px;
	}
}

.popover.fade.top.in {
    z-index: 9999;
}

select {
	font-size: 14px;
}

select option {
	font-size: 14px;
	padding: 3px 10px;
}

.list-passangers {
	padding-right: 0 !important;
	margin-right: 0 !important;
	position: relative;
	z-index: 9;
	left: 3px;
}

.list-passangers a {
	border-radius: 0 !important;
	background: none !important;
	box-shadow: none !important;
	border: none !important;
	font-size: 14px !important;
	padding: 10px !important;
}

.list-passangers .active a {
	background: #99D0FE !important;
	color:#Fff !important;
	font-weight: bold;
}

.list-passangers a:after {
	display: none !important;
}

.list-passangers .nav-tabs {
	border: none !important;
}

.select-passangers {
	margin-left: 0 !important;
	padding-left: 0 !important;
}

.select-passangers .well {
	background: #99D0FE !important;
}

.select-passangers .tab-content .tab-pane {
	border-radius: 0 !important;
}

.select-passangers .panel-info {
	margin-bottom: 0 !important;
}


/* Комплексный поиск */

.complex-search {
	padding-top: 0;
	padding-bottom: 0;
}

.complex-search .row,
.complex-search .date-from,
.complex-search .date-to {
	padding-bottom: 0;
}

.complex-search-avia-from,
.complex-search-avia-to {
	padding-right: 0px;
}

.complex-search-return button {
	margin-left: -6px;
}

.complex-search-date {
	padding-right: 0;
}

.complex-search-delete {
	padding-left: 0;
	padding-right: 0;
}

.complex-search-inner {
	margin-bottom: 10px;
}

.complex-search-inner-item {
	margin-bottom: 5px;
	border-bottom: 1px dashed #fff;
	padding-bottom: 5px;
}

.close-item {
	color:#777;
}

.close-item:hover {
	color:#333;
}

.price-reys {
	margin-bottom: 4px;
}

.price-reys label,
.sex-block label {
	margin-bottom: 0 !important;
}

/* Всплывающий календарь */

.modal-dialog {
	width: 730px;
}

/* Форма бронирования */

.order-form {
	margin-bottom: 20px;
}

/* Подсказки */

.help-block {
	color:red;
}

/* Спрайты городов */

.city-logo {
	background-image: url('../images/airlines_sprite.png');
	background-repeat: no-repeat;
	width: 58px;
	height: 50px;
	display: inline-block;
}

.NH {background-position: 0 0;}
.TZ {background-position: -58px 0;}
.JP {background-position: -116px 0;}
.A3 {background-position: -174px 0;}
.RE {background-position: -232px 0;}
.EI {background-position: -290px 0;}
.EE {background-position: -348px 0;}
.SU {background-position: -406px 0;}
.AR {background-position: -464px 0;}
.2K {background-position: -522px 0;}
.N2 {background-position: -580px 0;}
.VW {background-position: -638px 0;}
.AM {background-position: -696px 0;}
.VH {background-position: -754px 0;}
.5L {background-position: -812px 0;}
.VV {background-position: -870px 0;}

.8U {background-position: 0 -50px;}
.AH {background-position: -58px -50px;}
.A6 {background-position: -116px -50px;}
.5C {background-position: -174px -50px;}
.KC {background-position: -232px -50px;}
.UU {background-position: -290px -50px;}
.AB {background-position: -348px -50px;}
.JA {background-position: -406px -50px;}
.BP {background-position: -464px -50px;}
.2J {background-position: -522px -50px;}
.AC {background-position: -580px -50px;}
.CA {background-position: -638px -50px;}
.EN {background-position: -696px -50px;}
.UX {background-position: -754px -50px;}
.AF {background-position: -812px -50px;}
.VU {background-position: -870px -50px;}

.JM {background-position: 0 -100px;}
.LT {background-position: -58px -100px;}
.LK {background-position: -116px -100px;}
.L8 {background-position: -174px -100px;}
.C2 {background-position: -232px -100px;}
.NX {background-position: -290px -100px;}
.MD {background-position: -348px -100px;}
.QM {background-position: -406px -100px;}
.KM {background-position: -464px -100px;}
.MK {background-position: -522px -100px;}
.9U {background-position: -580px -100px;}
.SW {background-position: -638px -100px;}
.NZ {background-position: -696px -100px;}
.PX {background-position: -754px -100px;}
.AP {background-position: -812px -100px;}
.FJ {background-position: -870px -100px;}

.A7 {background-position: 0 -150px;}
.HM {background-position: -58px -150px;}
.TN {background-position: -116px -150px;}
.TC {background-position: -174px -150px;}
.U7 {background-position: -232px -150px;}
.NF {background-position: -290px -150px;}
.QC {background-position: -348px -150px;}
.BT {background-position: -406px -150px;}
.2L {background-position: -464px -150px;}
.SB {background-position: -522px -150px;}
.A5 {background-position: -580px -150px;}
.AS {background-position: -638px -150px;}
.AZ {background-position: -696px -150px;}
.AA {background-position: -754px -150px;}
.WK {background-position: -812px -150px;}
.IZ {background-position: -870px -150px;}

.U8 {background-position: 0 -200px;}
.R7 {background-position: -58px -200px;}
.OZ {background-position: -116px -200px;}
.7B {background-position: -174px -200px;}
.RC {background-position: -232px -200px;}
.TD {background-position: -290px -200px;}
.KK {background-position: -348px -200px;}
.OS {background-position: -406px -200px;}
.6A {background-position: -464px -200px;}
.AV {background-position: -522px -200px;}
.GU {background-position: -580px -200px;}
.J2 {background-position: -638px -200px;}
.BD {background-position: -696px -200px;}
.UP {background-position: -754px -200px;}
.PG {background-position: -812px -200px;}
.4T {background-position: -870px -200px;}

.B2 {background-position: 0 -250px;}
.J8 {background-position: -58px -250px;}
.B4 {background-position: -116px -250px;}
.BG {background-position: -174px -250px;}
.NT {background-position: -232px -250px;}
.KF {background-position: -290px -250px;}
.WW {background-position: -348px -250px;}
.9H {background-position: -406px -250px;}
.BA {background-position: -464px -250px;}
.SN {background-position: -522px -250px;}
.FB {background-position: -580px -250px;}
.XK {background-position: -638px -250px;}
.W2 {background-position: -696px -250px;}
.9K {background-position: -754px -250px;}
.BW {background-position: -812px -250px;}
.8B {background-position: -870px -250px;}

.V3 {background-position: 0 -300px;}
.CX {background-position: -58px -300px;}
.KX {background-position: -116px -300px;}
.9M {background-position: -174px -300px;}
.CI {background-position: -232px -300px;}
.MU {background-position: -290px -300px;}
.CZ {background-position: -348px -300px;}
.QI {background-position: -406px -300px;}
.C9 {background-position: -464px -300px;}
.DE {background-position: -522px -300px;}
.CO {background-position: -580px -300px;}
.V0 {background-position: -638px -300px;}
.CM {background-position: -696px -300px;}
.SS {background-position: -754px -300px;}
.OR {background-position: -812px -300px;}
.OU {background-position: -870px -300px;}

.CU {background-position: 0 -350px;}
.CY {background-position: -58px -350px;}
.OK {background-position: -116px -350px;}
.DI {background-position: -174px -350px;}
.H8 {background-position: -232px -350px;}
.DX {background-position: -290px -350px;}
.0D {background-position: -348px -350px;}
.DL {background-position: -406px -350px;}
.9B {background-position: -464px -350px;}
.Z6 {background-position: -522px -350px;}
.E3 {background-position: -580px -350px;}
.7D {background-position: -638px -350px;}
.KA {background-position: -696px -350px;}
.YR {background-position: -754px -350px;}
.T3 {background-position: -812px -350px;}
.MS {background-position: -870px -350px;}

.LY {background-position: 0 -400px;}
.EK {background-position: -58px -400px;}
.OV {background-position: -116px -400px;}
.ET {background-position: -174px -400px;}
.EY {background-position: -232px -400px;}
.K2 {background-position: -290px -400px;}
.9F {background-position: -348px -400px;}
.BR {background-position: -406px -400px;}
.AY {background-position: -464px -400px;}
.FC {background-position: -522px -400px;}
.BE {background-position: -580px -400px;}
.F7 {background-position: -638px -400px;}
.F9 {background-position: -696px -400px;}
.Z5 {background-position: -754px -400px;}
.GA {background-position: -812px -400px;}
.A9 {background-position: -870px -400px;}

.4U {background-position: 0 -450px;}
.G3 {background-position: -58px -450px;}
.DC {background-position: -116px -450px;}
.GF {background-position: -174px -450px;}
.GY {background-position: -232px -450px;}
.HR {background-position: -290px -450px;}
.HU {background-position: -348px -450px;}
.4R {background-position: -406px -450px;}
.HA {background-position: -464px -450px;}
.YO {background-position: -522px -450px;}
.EO {background-position: -580px -450px;}
.HX {background-position: -638px -450px;}
.UO {background-position: -696px -450px;}
.IB {background-position: -754px -450px;}
.FI {background-position: -812px -450px;}
.IK {background-position: -870px -450px;}

.D6 {background-position: 0 -500px;}
.ID {background-position: -58px -500px;}
.3L {background-position: -116px -500px;}
.IO {background-position: -174px -500px;}
.IR {background-position: -232px -500px;}
.6H {background-position: -290px -500px;}
.GI {background-position: -348px -500px;}
.D9 {background-position: -406px -500px;}
.5N {background-position: -464px -500px;}
.JO {background-position: -522px -500px;}
.JL {background-position: -580px -500px;}
.JU {background-position: -638px -500px;}
.9W {background-position: -696px -500px;}
.S2 {background-position: -754px -500px;}
.LS {background-position: -812px -500px;}
.8J {background-position: -870px -500px;}

.B6 {background-position: 0 -550px;}
.J0 {background-position: -58px -550px;}
.JQ {background-position: -116px -550px;}
.3B {background-position: -174px -550px;}
.KL {background-position: -232px -550px;}
.KV {background-position: -290px -550px;}
.KD {background-position: -348px -550px;}
.KQ {background-position: -406px -550px;}
.IT {background-position: -464px -550px;}
.7K {background-position: -522px -550px;}
.KE {background-position: -580px -550px;}
.KU {background-position: -638px -550px;}
.TM {background-position: -696px -550px;}
.LA {background-position: -754px -550px;}
.LO {background-position: -812px -550px;}
.LR {background-position: -870px -550px;}

.4M {background-position: 0 -600px;}
.XL {background-position: -58px -600px;}
.LP {background-position: -116px -600px;}
.QV {background-position: -174px -600px;}
.LI {background-position: -232px -600px;}
.LN {background-position: -290px -600px;}
.LH {background-position: -348px -600px;}
.CL {background-position: -406px -600px;}
.LG {background-position: -464px -600px;}
.W5 {background-position: -522px -600px;}
.MH {background-position: -580px -600px;}
.TF {background-position: -638px -600px;}
.MA {background-position: -696px -600px;}
.AE {background-position: -754px -600px;}
.MP {background-position: -812px -600px;}
.YD {background-position: -870px -600px;}

.MW {background-position: 0 -650px;}
.IG {background-position: -58px -650px;}
.MX {background-position: -116px -650px;}
.OM {background-position: -174px -650px;}
.ME {background-position: -232px -650px;}
.YX {background-position: -290px -650px;}
.2M {background-position: -348px -650px;}
.ZB {background-position: -406px -650px;}
.YM {background-position: -464px -650px;}
.M9 {background-position: -522px -650px;}
.8M {background-position: -580px -650px;}
.P9 {background-position: -638px -650px;}
.AI {background-position: -696px -650px;}
.IC {background-position: -754px -650px;}
.RA {background-position: -812px -650px;}
.2N {background-position: -870px -650px;}

.HG {background-position: 0 -700px;}
.Y7 {background-position: -58px -700px;}
.NW {background-position: -116px -700px;}
.5K {background-position: -174px -700px;}
.OL {background-position: -232px -700px;}
.OA {background-position: -290px -700px;}
.WY {background-position: -348px -700px;}
.LW {background-position: -406px -700px;}
.PC {background-position: -464px -700px;}
.7V {background-position: -522px -700px;}
.9G {background-position: -580px -700px;}
.PR {background-position: -638px -700px;}
.PU {background-position: -696px -700px;}
.YQ {background-position: -754px -700px;}
.NI {background-position: -812px -700px;}
.PW {background-position: -870px -700px;}

.QF {background-position: 0 -750px;}
.QR {background-position: -58px -750px;}
.AT {background-position: -116px -750px;}
.BI {background-position: -174px -750px;}
.RJ {background-position: -232px -750px;}
.WR {background-position: -290px -750px;}
.7R {background-position: -348px -750px;}
.FV {background-position: -406px -750px;}
.WB {background-position: -464px -750px;}
.S7 {background-position: -522px -750px;}
.HZ {background-position: -580px -750px;}
.4Q {background-position: -638px -750px;}
.Q3 {background-position: -696px -750px;}
.S3 {background-position: -754px -750px;}
.SP {background-position: -812px -750px;}
.S4 {background-position: -870px -750px;}

.SV {background-position: 0 -800px;}
.SK {background-position: -58px -800px;}
.DV {background-position: -116px -800px;}
.K5 {background-position: -174px -800px;}
.UG {background-position: -232px -800px;}
.D2 {background-position: -290px -800px;}
.SC {background-position: -348px -800px;}
.FM {background-position: -406px -800px;}
.ZH {background-position: -464px -800px;}
.3U {background-position: -522px -800px;}
.FT {background-position: -580px -800px;}
.MI {background-position: -638px -800px;}
.SQ {background-position: -696px -800px;}
.7J {background-position: -754px -800px;}
.H2 {background-position: -812px -800px;}
.NE {background-position: -870px -800px;}

.XR {background-position: 0 -850px;}
.LL {background-position: -58px -850px;}
.QS {background-position: -116px -850px;}
.I5 {background-position: -174px -850px;}
.MM {background-position: -232px -850px;}
.IE {background-position: -290px -850px;}
.4J {background-position: -348px -850px;}
.SA {background-position: -406px -850px;}
.YG {background-position: -464px -850px;}
.JK {background-position: -522px -850px;}
.UL {background-position: -580px -850px;}
.1T {background-position: -638px -850px;}
.SY {background-position: -696px -850px;}
.XQ {background-position: -754px -850px;}
.PY {background-position: -812px -850px;}
.LX {background-position: -870px -850px;}

.7E {background-position: 0 -900px;}
.RB {background-position: -58px -900px;}
.VR {background-position: -116px -900px;}
.JJ {background-position: -174px -900px;}
.TP {background-position: -232px -900px;}
.DT {background-position: -290px -900px;}
.TA {background-position: -348px -900px;}
.PZ {background-position: -406px -900px;}
.RO {background-position: -464px -900px;}
.U9 {background-position: -522px -900px;}
.TG {background-position: -580px -900px;}
.UN {background-position: -638px -900px;}
.TW {background-position: -696px -900px;}
.MT {background-position: -754px -900px;}
.GE {background-position: -812px -900px;}
.HV {background-position: -870px -900px;}

.X3 {background-position: 0 -950px;}
.TU {background-position: -58px -950px;}
.TK {background-position: -116px -950px;}
.VO {background-position: -174px -950px;}
.US {background-position: -232px -950px;}
.PS {background-position: -290px -950px;}
.U6 {background-position: -348px -950px;}
.UA {background-position: -406px -950px;}
.B7 {background-position: -464px -950px;}
.UT {background-position: -522px -950px;}
.QU {background-position: -580px -950px;}
.HY {background-position: -638px -950px;}
.VA {background-position: -696px -950px;}
.NN {background-position: -754px -950px;}
.VG {background-position: -812px -950px;}
.VN {background-position: -870px -950px;}

.VS {background-position: 0 -1000px;}
.DJ {background-position: -58px -1000px;}
.VK {background-position: -116px -1000px;}
.XF {background-position: -174px -1000px;}
.VE {background-position: -232px -1000px;}
.VY {background-position: -290px -1000px;}
.KW {background-position: -348px -1000px;}
.2W {background-position: -406px -1000px;}
.WS {background-position: -464px -1000px;}
.WF {background-position: -522px -1000px;}
.7W {background-position: -580px -1000px;}
.WM {background-position: -638px -1000px;}
.MF {background-position: -696px -1000px;}
.SE {background-position: -754px -1000px;}
.R3 {background-position: -812px -1000px;}
.YC {background-position: -870px -1000px;}

.IY {background-position: 0 -1050px;}
.ZJ {background-position: -58px -1050px;}

.typeahead{
                position: absolute;
                list-style: none;
                padding: 0;
                background: #ffffff;
                z-index: 10000;
            }
            .typeahead > li > a{
                padding: 5px 10px;
                color: #333;
                display: block;
            }
            .typeahead > li > a:hover{
                background: #428bca;
                color: #ffffff;
                text-decoration: none;
            }

/* Реклама */

.banners-reklama {
	width: 800px;
	height: 200px;
	background: #bbb;
}

.banner {
	width: 400px;
	height: 200px;
	float: left;
}

.displat-table {
	display: table;
	width: 100%;
	text-align: center;
}

.displat-table-cell {
	display: table-cell;
	text-align: center;
	height: 200px;
	vertical-align: middle;
}

.loader {
	text-align: center;
	width: 100%;
}

/* Return block */

.ticket-item {
	position: relative;
}

.return-block {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 12px;
	color:#999;
}

/* Переключатели языков */

.btn.btn-default.lang {
    padding: 6px;
    color:#999;
}

.btn.btn-default.lang.active {
    color: #333;
}


