/* Контент  */

body,
html {
	background: #fff;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#E8EFF6));
	background: -webkit-linear-gradient(#fff, #E8EFF6);
	background: -moz-linear-gradient(#fff, #E8EFF6);
	background: -ms-linear-gradient(#fff, #E8EFF6);
	background: -o-linear-gradient(#fff, #E8EFF6);
	background: linear-gradient(#fff, #E8EFF6);
	-pie-background: linear-gradient(#fff, #E8EFF6);
}

body,
html {
	min-height: 100%;
}

/* Шапка */

header {
	padding: 20px 0;
}

.logo {
	width: 150px;
	float: left;
}

.logo img {
	width: 100%;
	height: auto;
}

/* Форма поиска на главной */

/* .form-search-index {
	background: url('../images/bg-form-search.png') no-repeat center top;
	background: #34363E;
	-webkit-background-size: cover;
	background-size: cover;
	color:#fff;
	font-size: 14px;
	padding-top: 0;
	font-family: Tahoma;
}

.form-search-index label,
.form-search-index b {
	font-size: 13px;
}

.form-search-index * {
	padding-bottom: 0;
	margin-bottom: 0;
}

.form-search-index label,
.form-search-index .title {
	margin-bottom: 5px;
}

.line .form-group {
	padding-bottom: 10px;
}

.form-control {
	padding: 6px 12px !important;	
}

.border {
	border-bottom: 1px dashed #fff;
	padding-bottom: 10px;
} */

/* Поле вылета */

/* .city_from {
	background: #fff url('../images/avia-up.png') no-repeat 3px center;
}
 */
/* Поле прилета */

#ui-id-1,
#ui-id-2 {
	top: 40px !important;
	left: 0 !important;
	z-index: 999999;
	width: 100% !important;
}

#ui-id-1 li,
#ui-id-2 li {
	padding: 2px 4px;
	cursor: pointer;
}

#ui-id-1 li:hover,
#ui-id-2 li:hover,
#ui-id-1 .ui-state-focus,
#ui-id-2 .ui-state-focus {
	font-weight: normal;
	background: #00beff;
}
/* 
.from-to {
	padding: 5px 0 10px;
}

.city_to {
	background: #fff url('../images/avia-down.png') no-repeat 3px center;
}

.city_from,
.city_to,
.date_from .controls,
.date_to .controls {
	border:1px solid #cecece;
	height: 41px;
}

.city_from,
.city_to {
	padding-left: 35px;
	position: relative;
}

.clear_input {
	height: 39px;
    line-height: 41px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 25px;
    background: #fff url('../images/close2.png') no-repeat center center;
    text-indent: -9999px;
    overflow: hidden;
}

.clear_input:focus {
	outline: none;
}

.city_from input,
.city_to input,
.date_from input,
.date_to input {
	border: none;
	background: none;
	height: 41px;
	line-height: 41px;
	font-size: 16px;
}

.date_from .controls,
.date_to .controls {
	position: relative;
}

.date_from .controls:after,
.date_to .controls:after {
	content: '';
	position: absolute;
	width: 40px;
	height: 41px;
	right: 0;
	top: 0;
	cursor: pointer;
}

.city_from input:focus,
.city_to input:focus,
.date_from input:focus,
.date_to input:focus {
	box-shadow: none;
} */

.date_from {
	position: relative;
}

.dp-highlight .ui-state-default {
	background: #00BDFF;
    color: #FFF;
}

.first-sel a {
	background: #0085B0;
} 

.popup-date {
	display: none;
	position: absolute;
	left: 15px;
    top: 65px;
	z-index: 999999;
}

/* .search_form_date_to {
	left: 55.5px !important;
}
 */
.ui-datepicker {
	border-color: #00BEFF;
}

.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default {
	background: -webkit-linear-gradient(#f4f4f4 0%, #dcdcdc 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -o-linear-gradient(#f4f4f4 0%, #dcdcdc 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: linear-gradient(#f4f4f4 0%, #dcdcdc 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	font-weight: normal;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.7) inset;
	border-color: -moz-use-text-color #009cc3 #007897 -moz-use-text-color;
    border-image: none;
    border-right: 1px solid #009cc3;
    border-style: none solid solid none;
    border-width: medium 1px 1px medium;
}

.ui-datepicker-calendar .ui-state-default, 
.ui-datepicker-calendar .ui-state-hover, 
.ui-datepicker-calendar .ui-state-highlight, 
.ui-datepicker-calendar .ui-state-active {
	border-width: 0;
}

.ui-datepicker-calendar .ui-state-highlight { 
	color: #525252 !important;
	background: -webkit-linear-gradient(#C9C9C9 0%, #DFDFDF 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -o-linear-gradient(#C9C9C9 0%, #DFDFDF 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: linear-gradient(#C9C9C9 0%, #DFDFDF 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.ui-datepicker-calendar .ui-state-hover {
	color: #525252 !important;	
	background: -webkit-linear-gradient(#C9C9C9 0%, #DFDFDF 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -o-linear-gradient(#C9C9C9 0%, #DFDFDF 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: linear-gradient(#C9C9C9 0%, #DFDFDF 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.ui-datepicker-group-last {
	width: 33.4%;
}

.ui-datepicker-group .ui-datepicker-header {
	background: #00BEFF;
	padding: 5px 0;
}

.ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 1px !important;
	border-left-style: solid;
	border-left-color: #fff;
	border-right: 1px solid #fff;
} 

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	top: 7px;
}

.ui-datepicker .ui-datepicker-prev {
	left: 7px
}

.ui-datepicker .ui-datepicker-next {
	right: 7px
}

.ui-datepicker-week-end a,
.ui-datepicker-week-end .ui-state-hover,
.ui-datepicker-week-end.sel-date a {
	color: #D70000 !important;
}

.sel-date a {
	background: #00bdff !important;
	color:#fff !important;
}

.ui-datepicker-calendar .ui-state-active,
.ui-datepicker-calendar.first-date .ui-state-highlight,
.last-date a,
.first-date a {
	background: #FF9D1A !important;
	color:#fff !important;
}

.last-date:hover a,
.first-date:hover a {
	color:#fff !important;
	background: #FF9D1A !important;
}

.ui-datepicker-calendar .ui-state-active:hover {
	color:#fff !important;
}

.ui-datepicker {
	width: 45em !important;
}

/* Автокомплит */

.ui-autocomplete {
	border: 1px solid #cecece;
}

/* Кнопка менять местами */

.btn-refresh {
	width: 41px;
	height: 41px;
	background: url('../images/refresh.jpg') no-repeat center center;
	border:none;
	transition: transform .4s;
}

.btn-refresh:hover {
	transform: rotate(180deg);
}

.btn-refresh:active {
	background: url('../images/refresh.jpg') no-repeat center center;
}

.btn-refresh .glyphicon-refresh {
	width: 41px;
	height: 41px;
	margin: -6px 0 0 -12px;
}

.btn-refresh .glyphicon-refresh:before {
	display: none;
}

/* Заголовок формы

.form-search-index .panel-heading {
	background: #5fbdff;
}

Дата вылета и прилета

.date_from .controls,
.date_to .controls {
	background: #fff url('../images/date.png') no-repeat 99% center;
}

Выбор возраста
*/
.vozrast {
	padding-left: 0;
	padding-right: 0;
	margin-right: 0;
	margin-left: 0;
}

.info-vozrast {
	width: 100%;
	text-transform: lowercase;
	font-size: 12px;
	margin-bottom: -5px;
}

.avia-company {
	position: relative;
	top: -3px;
}

/* .vozrast .title {
	padding-top: 0;
}

.vozrast > div {
	padding-top: 1px;
}

.vozrast > div select {
	padding: 6px;
	height: 39px;
}

.vozrast .select .text {
	text-align: center;
	padding-left: 7px;
}

.vozrast .trigger {
width: 26px !important;
	position: absolute;
	right: 0;
background: url('../images/select-unact2.png') no-repeat center center;
}

.adults-icon,
.children-icon,
.infant-icon {
	width: 11px;
	height: 36px;
	position: relative;
left: 10px;
}

.adults-icon {
	background: url('../images/adults.png') no-repeat center center;
}

.children-icon {
	background: url('../images/child.png') no-repeat center center;
}

.infant-icon {
	background: url('../images/infant.png') no-repeat center center;
} */

/*

.btn-block {
	position: relative;
}

.btn-blocks {padding-left: 0;
}

.btn-vozrast {
	position: absolute;
	right: 4px;
	top:-5px;
	width: 32px;
	height: 42px;
	background: url('../images/form-btn.png') no-repeat center center;
	display: none;
}

.btn-vozrast a {
	color:#fff;
	display: block;
	clear: both;
	text-align: center;
	font-size: 18px;
	height: 18px;
	line-height: 20px;
}

Авиакомпании

.avia .select .text {
	padding-left: 10px;
}

.avia .trigger {
	position: absolute;
	right: 0;
	width: 38px;
}

Валюта

.currency .select .text {
	padding-left: 10px;
}

.currency .trigger {
	position: absolute;
	right: 0;
	width: 38px;
}

Класс

.klass .select .text {
	padding-left: 10px
}

.klass .trigger {
	position: absolute;
	right: 0;
	width: 38px;
}

Авиакомпании

.form-filter-inner .select .text {
	padding-left: 10px;
}

.form-filter-inner .trigger {
	position: absolute;
	right: 0;
	width: 38px;
}

Выпадающие списки

.selectbox {
	width: 100%;
}

.select {
	width: 100%;
	border:1px solid #cecece;
	height: 41px;
	background: #fff;
}

.select .text,
.select .trigger {
	display: inline-block;
	vertical-align: middle;
}

.select .text {
	height: 40px;
	line-height: 40px;
	color:#555;
	font-size: 16px;
	padding-left: 10px
}

.trigger {
	width: 38px;
	height: 38px;
	background: url('../images/select-unact.png') no-repeat center center;
	cursor: pointer;
	position: absolute;
	right: 0;
}

.dropdown {
	top: 41px;
	width: 100%;
	background: #fff;
	color:#555;
	border:1px solid #cecece;
}

.dropdown ul {
	padding: 0;
	margin: 0;
}

.dropdown ul li {
	padding: 1px 6px;
	cursor: pointer;
}

.dropdown ul li:hover,
.dropdown ul li.sel {
	background: #00BEFF;
	color:#fff;
}

Календарь

#ui-datepicker-div {
	z-index: 99999 !important;
}

Нестандартные чебоксы

.price-flight > div {
	position: relative;
	top: -6px;
	margin-bottom: 5px;
}
.check-block label {
	width: 150px;
}

.check-block label,
.check-block .checkbox-dop {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}

.form-filter-inner .checkbox-dop {
	border: 1px solid #ddd;
	width: 22px;
	height: 22px;
}

.checkbox-dop {
	width: 22px;
	height: 22px;
	border: 1px solid #ddd;
	cursor: pointer;
	background: url('../images/checkbox.jpg');
	opacity: .8;
	transition:opacity .4s;
}

.checkbox-dop.act {
	opacity: 1;
}

.checkbox-dop:hover {
	opacity: 1;
}

.checkbox-dop input {
	display: none;
}


*/
/* Кнопка поиска */

.btn-fly {
	margin-top: 20px;
	border: none;
	font-size: 16px;
	text-transform: uppercase;
	text-align: center; 
	padding: 10px 30px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: #888 0px 2px 3px;
	-moz-box-shadow: #888 0px 2px 3px;
	box-shadow: #888 0px 2px 3px;
	background: #FDAB01;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FDAB01), to(#D95C23));
	background: -webkit-linear-gradient(#FDAB01, #D95C23);
	background: -moz-linear-gradient(#FDAB01, #D95C23);
	background: -ms-linear-gradient(#FDAB01, #D95C23);
	background: -o-linear-gradient(#FDAB01, #D95C23);
	background: linear-gradient(#FDAB01, #D95C23);
	-pie-background: linear-gradient(#FDAB01, #D95C23);
	behavior: url(/pie/PIE.htc);
	/* background: #FF9D1A url('../images/fly.png') no-repeat 90% center; */
 	font-weight: bold;
}

.buy-ticket {
	border: none;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center; 
	padding: 10px 20px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: #888 0px 2px 3px;
	-moz-box-shadow: #888 0px 2px 3px;
	box-shadow: #888 0px 2px 3px;
	background: #FDAB01;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FDAB01), to(#D95C23));
	background: -webkit-linear-gradient(#FDAB01, #D95C23);
	background: -moz-linear-gradient(#FDAB01, #D95C23);
	background: -ms-linear-gradient(#FDAB01, #D95C23);
	background: -o-linear-gradient(#FDAB01, #D95C23);
	background: linear-gradient(#FDAB01, #D95C23);
	-pie-background: linear-gradient(#FDAB01, #D95C23);
	behavior: url(/pie/PIE.htc);
	/* background: #FF9D1A url('../images/fly.png') no-repeat 90% center; */
 	font-weight: bold;
}

.btn-fly:hover,
.btn-fly:active,
.btn-fly.active,
.btn-fly:focus {
	/* background: #ff9000 url('../images/fly.png') no-repeat 90% center; */
	background: #D95C23;
}

.buy-ticket:hover,
.buy-ticket:active,
.buy-ticket.active,
.buy-ticket:focus {
	/* background: #ff9000 url('../images/fly.png') no-repeat 90% center; */
	background: #D95C23;
}

/*
Нестандартные радио button

.return_way {
	padding: 10px 0 15px;
	margin-bottom: 10px;
}

.form-search-index .return_way .radiobtn,
.form-search-index .return_way label {
	display: inline-block;
	vertical-align: top;
	margin-right: 40px;
	margin-left: -25px;
    padding-left: 30px;
}

.return_way_inner .radiobtn,
.return_way_inner label {
	display: inline-block;
	vertical-align: top;
	margin-right: 5px;
	margin-left: -25px;
    padding-left: 30px;
}

.return_way-index label {
	margin-right: 30px;
	cursor: pointer;
}

.niceRadio {
	width: 20px;
	height: 20px;
	display: inline-block;
	cursor: pointer;
	background: url('../images/radio-btn.png');
	overflow: hidden;
}

.radioChecked {
	background-position: 0 -20px;
}

.niceRadio input {
	margin-left: -25px;
}

.act-radio {
	background: url('../images/radio-btn.png') no-repeat bottom center;
}

Меню табов


#myTab .active a {
	background: #4989bb;
	color:#fff;
	padding: 0 25px;
	height: 50px;
	line-height: 50px;
	text-transform: uppercase;
}

Вывод результатов

.ticket-item {
	display: block;
	clear: both;
	padding-bottom: 15px;
}

.ticket-well {
	padding: 0 10px 10px !important;
}

.ticket-body {
	padding: 15px 0 15px;
}

.ticket-body .col-md-1 {
	width: 5.333%;
}

.ticket-body .col-md-3 {
	width: 23%;
}

.panel-ticket {
	position: relative;
}
*/
.radio-ticket {
	width: 4.33333%;
	height: 100%;
	position: relative;
}

.col-md-3.company-info {
    width: 29%;
}

.col-md-3.company-info .img-name {
	padding-left: 0;
}

/*
.radio-ticket .niceRadio {
	position: absolute;
	top: 50%;
}
.price-ticket h2 {
	margin-top: 10px;
	margin-bottom: 0;
	font-size: 40px;
	color:#ff9000;
	font-weight: bold;
}

.price-ticket .valuta {
	font-size: 20px;
}

.rub-valuta {
	display: none;
}

.company-img {
	width: 30%;
	float: left; 
}

.company-img img {
	width: 100%;
	height: auto;
}

.company-desc {
	width: 65%;
	padding-left: 5%;
	float: left;
}

.name-company {
	font-size:16px;
	text-transform: uppercase;
	padding-bottom: 10px;
}

.num-company {
	font-size: 10px;
}

.free-mest {
	font-size: 14px;
}

.total-mest {
	font-size: 20px;
}
*/

.ticket-body > div {
	padding-left: 0;
}

.time-up-avia p,
.time-down-avia p,
.time-duration-avia p{
	font-size: 11px;
 	margin-bottom: 0;
}

.time-up,
.time-down {
	font-size: 20px;
	font-weight: bold;
	color:#ff9000;
	/* width: 40%;*/
	margin-top: -3px; 
}

/* .time-up,
.time-down,
.city-aero {
	float: left;
} */

/* .time-duration-avia p {
	margin-bottom: 0;
} */
/* 
.city-aero {
	width: 60%;
} */

.city-up,
.city-down {
	font-size: 12px;
	font-weight: bold;
	color:#5b5b5b;
	text-transform: uppercase;
}

.aeropot-up,
.aeropot-down {
	color:#949494;
	font-weight: bold;
	font-size: 10px;
}


.time-duration {
	font-weight: bold;
	font-size: 16px;
	color:#ff9000;
}

.btn-transplant {
	background: none;
	border: none;
	border-radius: 5px;
	background: #aaa;
	border: 1px solid #999;
	background: -webkit-linear-gradient(#fff, #aaa) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -o-linear-gradient(#fff, #aaa) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: linear-gradient(#fff, #aaa) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.btn-transplant:focus,
.btn-transplant:hover,
.btn-transplant:active {
	background: #fff;
	background: -webkit-linear-gradient(#aaa, #fff) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -o-linear-gradient(#aaa, #fff) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: linear-gradient(#aaa, #fff) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.list-transplant {
	
}

/*
.date-ticket {
	font-size: 20px;
	color:#292929;
	text-align: center;
	margin-top: -25px;
}

.date-ticket .date-title {
	width: 168px;
	display: inline-block;
	background: url('../images/avia-up.png') no-repeat 5px 9px;
	text-align: left;
	padding-left: 45px;
}

.buy-ticket {
	background: none;
	border: none;
	height: 40px;
	padding: 0 20px;
	line-height: 40px;
	color:#fff;
	text-transform: uppercase;
	font-size: 14px;
	border-radius: 10px;
	background: #ff9000;
	box-shadow: 0 3px 0 0 #B96A00;
	position: relative;
	float: right;
}

.buy-ticket:hover {
	top:2px;
	box-shadow: 0 1px 0 0 #B96A00;
}

.buy-do {
	color:#ff9000;
}

.add-btn {
	margin-top: -25px;
}

Календарь	

#avia-calendar-box td:first-of-type:hover {
	background: #f5f5f5;
}

#avia-calendar-box td:hover {
	background: #CEDBDF;
}

Время прибытия прилета

#filter-time-popup label:after {
	content: '';
	display: block;
	clear: right;
	width: 100%;
	height: 1px;
}

.well {
	padding: 10px;
}

.return_way_inner .niceRadio {
	position: absolute;
	left: 0;
} */

/* Заголовок календаря */

.panel-success > .panel-heading {
	background: #f5f5f5;
}

.panel-heading .panel-title {
	color:#FF9000;
}


/* Табы */

/* .input-group-addon {
	padding: 6px 12px 5px;
}
 */
a:focus {
	outline: none;
}

.button-close {
	padding: 16px;
	background: #fff url('../images/close2.png') no-repeat center center;
}

.block-img-avia {
	padding: 6px 4px 2px;
}

.tab-pane {
	box-shadow: 0 0 3px 0 #999;
	border-radius: 0 0px 10px 10px
}

.vozrast-icon {
	padding: 2px 9px;
}

.button-refresh {
	padding: 2px 8px;
}

.ui-datepicker {
	width: 39.3em !important;
}

.search_form_date_to {
	left: none !important;
	right: 0 !important;
}

#search-form .row,
.date-from,
.date-to {
	padding-bottom: 10px;
}

.form-filter-inner #search-form .row,
.form-filter-inner .date-from,
.form-filter-inner .date-to {
	padding-bottom: 5px;
}

.form-filter-inner .price-best .form-group {
	margin-bottom: 5px;
}

.form-filter-inner label,
#filter-form label {
	font-weight: normal;
}

#filter-form .form-group {
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px dashed #fff;
}

.list-form-input {
	box-shadow: 0 0 5px 0 #999;
	border: none;
	border-radius: 5px;
}

.form-control {
	padding: 6px 7px;
}

#filter-form .form-control {
	padding: 2px;
	height: 28px;
}

#filter-form .form-control option {
	padding: 2px;
}

#filter_departure_time label,
#filter_arrival_time label {
	margin-left: 5px;
}

#search_form_return_way label {
	margin-bottom: 2px;
}

.price-reys > div.price-block {
	margin-bottom: 15px;
	margin-top: 5px;
}

.vozrast > div select {
	height: 33px;
}

.btn-fly {
	margin-top: -10px;
}

.col-avia {
	width: 46%;
}

.col-return {
	width: 8%;
	padding: 0;
}

.return-way-index label,
.return-way-index input {
	display: inline-block;
	vertical-align: middle;
}

.return-way-index label {
	margin-right: 15px;
	font-size: 13px;
	margin-top: 9px;
	font-weight: normal;
}

.return-way-index input {
	margin-right: 5px;
}

#ui-id-1, #ui-id-2 {
	top: 33px !important;
}

.nav-tabs > li {
	margin-bottom: 0;
}

.nav-tabs li a {
	font-size: 18px;
	position: relative;
}

.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
	background: #98d0ff;
	border-radius: 10px 10px 0 0;
}

.nav-tabs > li.active > a {
	box-shadow: 0 0 3px 0 #999;
}

.now-find .panel-body {
	box-shadow: 0 0 3px 0 #999;
}

.nav-tabs > li.active > a:after {
	content: '';
	width: 100%;
	height: 3px;
	position: absolute;
	bottom: -4px;
	left: 0;
	background: #98D0FF;
}

.panel-default > .panel-heading {
	background: #98d0ff;
	border-bottom: 1px dashed #fff;
}

.panel-default {
	border-top: none;
}

.panel-blue {
	background: #98d0ff;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#98d0ff), to(#d4effc));
	background: -webkit-linear-gradient(#98d0ff, #d4effc);
	background: -moz-linear-gradient(#98d0ff, #d4effc);
	background: -ms-linear-gradient(#98d0ff, #d4effc);
	background: -o-linear-gradient(#98d0ff, #d4effc);
	background: linear-gradient(#98d0ff, #d4effc);
}

.input-group-addon {
	background-color: #f8f8f8;
}

.now-find .panel-body {
	height: 405px;
	margin-top: 48px;
}

.now-find .panel-heading {
	padding: 0px 15px 10px;
}

.panel-body {
	color:#666;
}

.panel-body label {
	font-weight: normal;
	margin-bottom: 2px !important;
}

.list-now-find {
	height: 205px;
	overflow: hidden;
	margin-bottom: 10px;
}

.glyphicon-times,
.glyphicon-help,
.glyphicon-skype {
	height: 22px;
	display: inline-block;
}

.glyphicon-times {
	background: url('../images/glyphicon-times.png') no-repeat center;
}

.glyphicon-help {
	background: url('../images/glyphicon-help.png') no-repeat center center;
}

.glyphicon-skype {
	background: url('../images/glyphicon-skype.png') no-repeat center center;
}

.btn-info {
	padding: 5px 6px;
}

.btn-info .glyphicon:empty {
	width: 2em;
}

.group-info .form-group {
	margin-bottom: 5px;
}

.group-info .form-group .form-group {
	vertical-align: middle;
}

.group-lang {
	margin-right: 0px;
}

.label-from label {
	margin-bottom: 0;
}

.date-icon {
	background: #fff url('../images/date-min.png') no-repeat center center;
	padding: 4px 16px;
}

.adult-icon {
	background: #f8f8f8 url('../images/adults-min-blue.png') no-repeat center center;
}

.child-icon {
	background: #f8f8f8 url('../images/child-blue.png') no-repeat center center;
}

.infants-icon {
	background: #f8f8f8 url('../images/infant-blue.png') no-repeat center center;
}

.filter-form {
	width: 24%;
	padding-left: 0;
	padding-right: 0;
}

.bg-gradient {
	background: #98d0ff;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#98d0ff), to(#d4effc));
	background: -webkit-linear-gradient(#98d0ff, #d4effc);
	background: -moz-linear-gradient(#98d0ff, #d4effc);
	background: -ms-linear-gradient(#98d0ff, #d4effc);
	background: -o-linear-gradient(#98d0ff, #d4effc);
	background: linear-gradient(#98d0ff, #d4effc);
}

.result-box {
	width: 76%;
	padding-right: 0;
}

.well {
	padding: 10px;
}

.city-from-block,
.city-to-block {
	padding-bottom: 10px;
}

.return-way-block {
	padding-bottom: 5px;
}

.return-way-block input {
	margin-right: 5px;
}

.ticket-body:hover {
	border: 1px solid #dadada;
	background: -webkit-linear-gradient(#f5f5f5, #dadada) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -o-linear-gradient(#f5f5f5, #dadada) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: linear-gradient(#f5f5f5, #dadada) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.ticket-body .radio-button {
	visibility: hidden;
}

.radio-ticket {
	width: 0%;
}

.checked-block {
	/* background: #98d0ff;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#98d0ff), to(#d4effc));
	background: -webkit-linear-gradient(#98d0ff, #d4effc);
	background: -moz-linear-gradient(#98d0ff, #d4effc);
	background: -ms-linear-gradient(#98d0ff, #d4effc);
	background: -o-linear-gradient(#98d0ff, #d4effc);
	background: linear-gradient(#98d0ff, #d4effc); */
	border: 1px solid #dadada;
	background: -webkit-linear-gradient(#f5f5f5, #dadada) repeat scroll 0 0 rgba(0, 0, 0, 0);
	 background: -o-linear-gradient(#f5f5f5, #dadada) repeat scroll 0 0 rgba(0, 0, 0, 0);
	 background: linear-gradient(#f5f5f5, #dadada) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.ticket-body {
	cursor: pointer;
	padding: 10px;
	border: 1px solid #dadada;
	border-radius: 8px;
}

.panel-ticket {
	border-radius: 8px;
	border: none;
	margin-bottom: -3px;
}

.add-btn {
	margin-top: 15px;
}

.img-company img {
	width: 100%;
	height: auto;
}

.ticket-well {
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 0 7px 0 rgba(0,0,0,.3);
	padding-top: 15px;
}

.ticket-well.well {/* 
    padding-top: 26px; */
    position: relative;
}

.price-ticket {
    left: 10px;
    position: absolute;
    top: 5px;
}

.price-ticket h2 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 24px;
	color:#ff9000;
	font-weight: bold;
}

.price-ticket h2,
.price-ticket .col-block {
	display: inline-block;
	vertical-align: bottom;
}

.price-ticket span.col-user {
	font-size: 20px;
	color:#292929;
	display: inline-block;
	position: relative;
	top: 1px;
}

.date-ticket {
	font-size: 16px;
	color:#292929;
	text-align: center;
}

.date-ticket .date-title {
	width: 168px;
	display: inline-block;
	background: url('../images/avia-up.png') no-repeat 3px 9px;
	text-align: left;
	padding-left: 45px;
	font-size: 18px;
}

.first-element {
	margin-top: 20px;
}

.down-time-block .date-title {
	background: url('../images/avia-up-back.png') no-repeat 0px 7px;
}

/* Таблица календарь */

.result-box .panel-box {
    margin-bottom: 0;
}
.well-box {
    border: medium none;
    padding: 0;
}
.table-calendar {
	font-size: 12px;
}

.table-calendar > thead > tr > th, 
.table-calendar > thead > tr > td, 
.table-calendar > tbody > tr > th, 
.table-calendar > tbody > tr > td, 
.table-calendar > tfoot > tr > th, 
.table-calendar > tfoot > tr > td {
    font-weight: normal;
    padding: 5px !important;
}
.table-calendar td:first-of-type,
.table-calendar tr:first-of-type td, 
.table-calendar thead th {
	background: #EDEDEE;
    /* background: -webkit-linear-gradient(#98d0ff, #d4effc) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -o-linear-gradient(#98d0ff, #d4effc) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: linear-gradient(#98d0ff, #d4effc) repeat scroll 0 0 rgba(0, 0, 0, 0); */
    text-align: center;
}

.table-calendar tr:first-of-type td:first-of-type {
	background: #fff;
}

.table-calendar thead th:first-of-type {
    background: none repeat scroll 0 0 #fff;
    color: #000;
}

.betterhover {
    background: #f5f5f5;
}

.table-hover > tbody > tr:hover > td, 
.table-hover > tbody > tr:hover > th {
    color: #0074bc;
}

.table-hover tr:first-of-type:hover > td {
	color:#666;
}

.table-hover tr:first-of-type:hover td {
	background: #ededee !important;
}

.table-hover tr:first-of-type:hover td:first-of-type {
	background: #fff !important;
}

.tooltip.in {
    opacity: 1;
}
.tooltip-inner {
    background: none repeat scroll 0 0 #428bca;
    color: #fff;
}
.tooltip.top .tooltip-arrow {
    border-top-color: #428bca;
}
.form-filter-inner label, .table-calendar {
    margin-bottom: 0;
}
.return-way-inner label {
    position: relative;
    top: -2px;
    clear: right;
}

/* Общая сумма за билет */

.total-price-block {
	width: 20%;	
}

.total-price-block h3 {
	font-size: 22px;
}

.total-price {
	color: #ff9000;
    font-size: 26px;
    font-weight: bold;
    position: relative;
    top:1px;
}

.order-block {
	width: 80%;
}

.book-tab hr {
	margin-top: 10px;
	margin-bottom: 0;
}

.book-tab .rules-tab,
.tab-user-info .well {
	background: #98d0ff;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#98d0ff), to(#d4effc));
	background: -webkit-linear-gradient(#98d0ff, #d4effc);
	background: -moz-linear-gradient(#98d0ff, #d4effc);
	background: -ms-linear-gradient(#98d0ff, #d4effc);
	background: -o-linear-gradient(#98d0ff, #d4effc);
	background: linear-gradient(#98d0ff, #d4effc);
}

.tab-user-info .well {
	border-top: 0 none;
	box-shadow: none;
}

.book-tab table {
	margin-bottom: 0;
}

.book-tab td,
.book-tab th {
	border-bottom: 1px solid #Fff;
}

.book-tab tbody td {
	color:#555;
}

.book-tab tbody td:last-of-type {
	color: #333;
	font-weight: bold;
}

.list-in-tab .down-time-block .panel:last-of-type {
	margin-bottom: 0;
}

/* .tab-user-info label,
.tab-user-info .controls {
	display: inline-block;
	margin-right: -5px;
}

.tab-user-info label {
	width: 20%;
}

.tab-user-info .controls {
	width: 80%;
} */

.intl-tel-input .flag-dropdown {
	height: 34px;
}

@media screen and (min-width: 1000px) {
	.modal-dialog {
	    padding-bottom: 30px;
	    padding-top: 30px;
	    width: 1000px;
	}
}

.popover.fade.top.in {
    z-index: 9999;
}

select {
	font-size: 14px;
}

select option {
	font-size: 14px;
	padding: 3px 10px;
}

.list-passangers {
	padding-right: 0 !important;
	margin-right: 0 !important;
	position: relative;
	z-index: 9;
	left: 3px;
}

.list-passangers a {
	border-radius: 0 !important;
	background: none !important;
	box-shadow: none !important;
	border: none !important;
	font-size: 14px !important;
	padding: 10px !important;
}

.list-passangers .active a {
	background: #99D0FE !important;
	color:#Fff !important;
	font-weight: bold;
}

.list-passangers a:after {
	display: none !important;
}

.list-passangers .nav-tabs {
	border: none !important;
}

.select-passangers {
	margin-left: 0 !important;
	padding-left: 0 !important;
}

.select-passangers .well {
	background: #99D0FE !important;
}

.select-passangers .tab-content .tab-pane {
	border-radius: 0 !important;
}

.select-passangers .panel-info {
	margin-bottom: 0 !important;
}


/* Комплексный поиск */

/* .complex-search-avia {
	padding-right: 5px;
	padding-left: 0;
}
*/
.complex-search-avia-from {
	padding-right: 5px;
}

.complex-search-avia-to {
	padding-left: 5px;
}
/*
.complex-search-return {
	padding-left: 5px;
	padding-right: 5px;
}
*/
.complex-search-return button {
	margin-left: -6px;
}



.complex-search-date {
	padding-left: 0px;
	padding-right: 0;
}

.complex-search-date input {
	font-size: 11px;
}

.complex-search-delete {
	padding-left: 0;
	padding-right: 0;
}

.complex-search-delete button {
	margin-left: 5px; 
}

.complex-search-inner {
	margin-bottom: 10px;
}

.complex-search-inner-item {
	margin-bottom: 5px;
	border-bottom: 1px dashed #fff;
	padding-bottom: 5px;
}

.close-item {
	color:#777;
}

.close-item:hover {
	color:#333;
}