/*<style>*/
/* LNG: ru*/
/* =================== GLOBAL =================== */

html {
	min-height: 100%;
	height: auto;
}

body {
	margin:0;
	padding:0;
	background:url(https://files.avia.lt/images/body_bg.gif) bottom repeat-x;
}

	
a, a:visited{
	color:#0074bc;
	text-decoration:none;
}

a:hover{
	color: #5494f1;
	text-decoration:underline;
}

a.links2{
	color:#666666;
	text-decoration:none;
}

a.links2:hover{
	color:#000000;
	text-decoration:underline;
}

select{
	border:none;	margin:0;
	background-color:#FFFFFF;
}

.selectWrap{
	background-color: #FFFFFF;
	margin:0 1px 1px 1px;
	padding:2px;
	border:solid 1px #CCCCCC;
	display:inline-block;}

input[type="text"], input[type="password"]{
	border: 1px solid #CCCCCC;
	margin:0 0 0 1px;
	padding:0;
	background-color:#FFFFFF;
	height:18px;
}

textarea{
	border: 1px solid #CCCCCC;
	margin-left:1px;
}

.input_icon{
	float:left;
	position:relative; 
	left:3px;
}

.input_icon img{
	cursor:pointer;
}

.inputWrap{
	float:left;
	background-color:#FFFFFF;
	border:#CCCCCC solid 1px;
	padding:2px;
}

label{
	cursor:pointer;
}

form, p{
	margin: 0px; padding: 0px;
}

p{
	margin-bottom:6px;
	margin-top:4px;
}

ul{
	margin-top:4px; 
	margin-bottom:6px;
	margin-left:12px;
	padding-left:12px;
}


body, td, th, div, input, select, textarea{
	font: 14px Arial, Helvetica, sans-serif;
	color:#666666;	
}

th{
	font-size:12px;
	font-weight:bold;
}

.hr{
	background-color:#e1e4e8;
	height:1px;
	margin-top: 12px;
	margin-bottom: 12px;
	clear:both;
}

.copyright, .copyright a{
	text-align:left;
	font-size:10px;
	color: #9a9a9a;
}

blockquote{
	margin-left:12px;
}

#progressBar{
	padding:8px 0 8px 0;
	margin-top:4px;
	margin-bottom:14px;
}

h1, h2, h3, h4, h5{
	font-weight: bold;
}

h1{
	padding: 4px 0px 6px 0px; 
	margin: 0px; 
	font-size:18px;
	color:#0074bc;
}

.hOne{
	padding: 4px 0px 6px 0px; 
	font-size:18px;
	color:#0074bc;
	font-weight:bold;
}

h2{
	padding: 6px 0px 6px 0px;
	margin: 0px; 
	font-size:16px;
}

h3{
	padding: 5px 10px 3px 0px;
	margin: 0px 0px 3px 0px;
	font-size:14px;
	font-style:italic;
}

h4{
	border-bottom: 1px solid #17479B;
	padding: 3px 10px 3px 0px;
	margin: 10px 0px 3px 0px; 
}

h5{
	padding: 5px 10px 3px 2px;
	margin: 0px 0px 3px 0px; 
}

img {
	border:none;
}

table{ border-collapse:collapse; }

table.blueTable{
	border:1px solid #cce8ff;
}
table.blueTable td, table.blueTable th{
	padding:4px;
	font-size:12px;
}

.blueTable{
	border:1px solid #cce8ff;
	padding: 4px;
	float:left;
}
/* Distribution style */
#nav {text-align:justify; margin:0; padding:0;}
#nav * {display:inline; margin:0; padding:0;}
#nav a {display:inline-block;}

#nav .stretcher {
	display:inline-block;
	position:relative;
	width: 100%; 
	height: 0;
}

<!-- in conditional comments for ie6 -->
* html #nav .stretcher {overflow:hidden;}


/* =================== CLASSES =================== */

.orange{
	color:#ff801e;
}

.white_border{
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
	border:1px solid #FFFFFF;
}

.blue_block{
	padding: 12px;
	margin:10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	zoom:1;
	-moz-box-shadow: 0px 3px 8px 1px #BBB;
	-webkit-box-shadow: 0px 3px 8px 1px #BBB;
	box-shadow: 0px 3px 8px #AAA;	
	
		background-image: -ms-linear-gradient(top, #98d0ff 0%, #d4effc 100%); /* for IE 10 */
	background-image: linear-gradient(top, #98d0ff, #d4effc);
	background: -webkit-gradient(linear, left top, left bottom, from(#98d0ff), to(#d4effc)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #98d0ff,  #d4effc); /* for Firefox 3.6+ */
	background: -o-linear-gradient(top,  #98d0ff,  #d4effc);  /* for Opera */	
	-pie-background: linear-gradient(top,  #98d0ff,  #d4effc); /* for IE 7-8*/
	behavior: url("https://aviago.com.ua/css/PIE.htc");
	}

.white_block{
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background-color: #FFFFFF;
	margin:10px;
	padding: 10px;
	-moz-box-shadow: 0px 0px 14px 1px #BBB;
	-webkit-box-shadow: 0px 0px 14px 1px #BBB;
	box-shadow: 0px 0px 14px #BBB;
	behavior: url("https://aviago.com.ua/css/PIE.htc");
}

.white_block2{
	zoom:1;	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	margin:10px;
	padding:10px;
		background-color: #FFFFFF;
		-moz-box-shadow: 0px 0px 14px 4px #BBB;
	-webkit-box-shadow: 0px 0px 14px 4px #BBB;
	box-shadow: 0px 0px 14px #BBB;
}

.roundborder{
	zoom:1;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border:1px solid #CCCCCC;
	background-color: #FFFFFF;
	padding:12px;
	behavior: url("https://aviago.com.ua/css/PIE.htc");
}

.greyborder{
	border:1px solid #CCCCCC;
	background-color: #FFFFFF;
	padding:12px;
}

.white_block_orange{
	border:2px solid #ff801e;
	padding: 10px;
	margin:8px;
	zoom:1;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background-color: #FFFFFF;	
	-moz-box-shadow: 0px 0px 10px 1px #BBB;
	-webkit-box-shadow: 0px 0px 10px 1px #BBB;
	box-shadow: 0px 0px 10px #BBB;
	behavior: url("https://aviago.com.ua/css/PIE.htc");
}

.segment{
	/*min-height:75px;*/
}

.segmentOver, .segmentSelected{
	background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#dadada)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #f5f5f5,  #dadada); /* for firefox 3.6+ */
	background: -o-linear-gradient(top,  #f5f5f5,  #dadada);  /* for webkit browsers */
	-pie-background: linear-gradient(top,  #f5f5f5,  #dadada); /* for IE 7-8*/
	/*border:2px #CCCCCC solid;*/
	behavior: url("https://aviago.com.ua/css/PIE.htc");
}

.flighTime{
	font-size:15px;
	color: #3777bc;
	font-weight:bold;
}

.smaller, .smaller th, .smaller td, .smaller p, .smaller a, .smaller label, .smaller div{
	font-size:12px;
}

.small, .small td, .small th, .small p, .small a, .small label, .small div{
	font-size:11px;
}

.slinks a{
	color:#9a9a9a;
	font-size:12px;
	text-align:left;
}

.btn2{
	height:41px;
	background: transparent url(https://files.avia.lt/images/btn2/left.png) left no-repeat;
	display:inline-block;
	padding-left: 15px;
}

.btn2 div{
	background: transparent url(https://files.avia.lt/images/btn2/right.png) right no-repeat;
	height:41px;
}

.btn2 div div{
	background: transparent url(https://files.avia.lt/images/btn2/bg.png);
	margin-right:15px;
	height:41px;
}

.btn2 div div, .btn2 div div a{
	color:#FFFFFF;
	text-decoration:none;
	line-height: 38px;
	text-align:center;
}

/* white block */

.block_top{
	height:20px;
	background: transparent url(https://files.avia.lt/images/white_block/left_top.png) left no-repeat;
	padding-left: 21px;
}

.block_top div{
	height:20px;
	background: transparent url(https://files.avia.lt/images/white_block/right_top.png) right no-repeat;
	padding-right: 21px;
}

.block_top div div{
	height:20px;
	background: transparent url(https://files.avia.lt/images/white_block/bg_top.png);
}

.block_side{
	background: transparent url(https://files.avia.lt/images/white_block/left.png) left repeat-y;
	padding-left: 21px;
}

.block_side div.side_inner_div{
	background: transparent url(https://files.avia.lt/images/white_block/right.png) right repeat-y;
	padding-right: 21px;
}

.block_bottom{
	height:20px;
	background: transparent url(https://files.avia.lt/images/white_block/left_bottom.png) left no-repeat;
	padding-left: 21px;
}

.block_bottom div{
	height:20px;
	background: transparent url(https://files.avia.lt/images/white_block/right_bottom.png) right no-repeat;
	padding-right: 21px;
}

.block_bottom div div{
	height:20px;
	background: transparent url(https://files.avia.lt/images/white_block/bg_bottom.png);
}

/* *** */

.big{
	font-size:16px;
	font-weight: bold;
	color:#3777bc;
	font-family:Arial, Helvetica, sans-serif;
}

.button{
	background-image:url(https://files.avia.lt/images/btn.png);
	width:150px;
	height:87px;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	padding:0;
	cursor:pointer;
	color:#FFFFFF;
	font-size:24px;
	font-weight:bold;
}

.buttonDis{
	background-image:url(https://files.avia.lt/images/btn_dis.png);
	width:150px;
	height:87px;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	padding:0;
	cursor:default;
	color:#EEEEEE;
	font-size:24px;
	font-weight:bold;
}
.dline{
	height:1px;
	border-top:1px dashed #c0c0c0;
	margin-top: 6px;
	margin-bottom: 6px;
	clear:both;
}

.dline_vert{
	border-right:1px dashed #c0c0c0;
}

.blue_arrow{
	background: url(https://files.avia.lt/images/blue_arrow.gif) right -4px no-repeat;
	padding-right: 14px;
}
.lbl{
	line-height: 22px;
	margin-left: 3px;
	margin-right: 3px;
}

.lbl2{
	line-height: 19px;
	margin-left: 3px;
	margin-right: 3px;
	font-size:13px;}

.tab, .tab a, .tab h1{
	font-size:18px;
	font-family:Arial, Helvetica, Geneva, sans-serif;
	line-height: 280%;
	text-decoration:none;
	font-weight:normal;
	color: #0074bc;
	margin:0;
	padding:0;
}

.tab a:hover{
	color: #5494f1;
	text-decoration:underline;
}

.tabsList { 
	margin: 0; 
	padding: 0;
	clear:both;
}
.tabsList li {
	list-style: none; 
	float: left; 	
	margin: 0;
	padding: 0;
	white-space: nowrap;
}


.accordion .ui-accordion-content, .ui-accordion-content-active, .ui-accordion-header{
	border:none;
	padding:0 8px 8px 8px;
}
.ui-accordion-header, h3.ui-accordion-header a:link{
	font-size:18px;
	font-family:Arial, Helvetica, Geneva, sans-serif;
	text-decoration:none;
	color: #0074bc;
}
.ui-state-active a{
	cursor:default;
}

.infoline td a{
	text-decoration:none;
	font-weight:bold;
}

.spec div{
	font-size:12px;	
}

.small{
	font-size:9px;
}

.faint_input{
	color:#BBBBBB;
}
input.inpWbtn{
	border:none;
	height:18px;
}
.red {
	color:#ff801e;
}

.redborder {
	border:1px solid #ff801e;
	padding:8px;
	margin:10px;
}

.brownborder {
	border:1px solid #990000;
	padding:8px;
}

.blue{
	color:#3777bc;
}

.passengers{
	font-size:9px;
}


.price {
	font-size: 14px;
	font-weight: bold;
	color:#0558d2;
}

/*.offerPriceDiv */
.offerPrice {
	float: left;
	font-size: 30px;
	font-weight: bold;
	color:#ff801e;
	padding: 3px 6px 0 5px;
	position:relative;
}

.priceCurrSelect{
	padding:0;
	position:relative;
	float: left;
	position:relative;
	top:10px;
}

.priceTxt {
	float: right;
	padding-top:6px;
	font-size:12px;
	position:relative;
	text-align:right;
	color:#000000;	
}
.offerPirceDiv .priceTxt a, .offerPriceDiv .priceTxt div{
	font-size:12px;
}

.offerPriceInfo{
	color:#009933;
	font-size:12px;
	font-weight:bold;
	text-align:left;
	padding-left:8px;
}

.offerPriceSmall{
	color:#ff801e;
	font-weight:bold;
}

.offerTime{
	color:#3777bc;
	font-size:15px;
	font-weight:bold;
	margin-bottom:-3px;	
}

.offerCity{
	font-weight:bold;
	color:#000000;
	margin-top:2px;
	margin-bottom:-2px;
}

.payBefore{
	float:left;
	padding: 36px 0 0 2px;
	font-size:12px;
}

.smallFormPart{
	clear:both;
	padding-top:6px;
}

.shareButton{
	background:url(https://files.avia.lt/images/share_btn.gif);
	height:56px;
	width:136px;
	float:left;
	text-align:center;
	padding-top:10px;
	font-size:18px;
	color:#98d0ff;
	font-weight:bold;
	margin-top:12px;
}


.price_border, td.price_border {
	border-top:solid 1px #ff7400;
	border-bottom: solid 1px #ff7400;
	background-color:#FFFFFF;
	padding-right:8px;
	padding-left:8px;
	height:23px;
}

#big{
	font-size:16px;
	font-weight: bold;
	color:#0558d0;
	font-family:Arial, Helvetica, sans-serif, Arial, Helvetica, sans-serif;
}

/*Prices table*/
.priceTable table{
}

.priceTable td{	
}

.priceTableHead{
	height:32px;
	width: 85px;
	font-size:11px;
	line-height:18px;
	font-weight:bold;
	background: url(https://files.avia.lt/images/prices_table/head.gif);
	line-height:3em;
}

.priceTableHead.weekend{
	color:#999999;
}

.priceTableCell{
	height:32px;
	width: 85px;
	/*font-size:10px;*/
	line-height:2.5em;
	font-weight:bold;
	background: url(https://files.avia.lt/images/prices_table/cell.gif);
	cursor:pointer;
}

.priceTable th, .priceTable td{
	text-align:center;	
}

.priceTableHead.priceTableOver {	
	color:#0074bc;
}

.priceTableChippestPrice a, .priceTableChippestPrice{
	color:#ff801e;
}

.priceTablePrice{
	font-size:16px;
	font-weight:bold;
}

.priceTableCurr{
	font-size:11px;
}

.selectedInList{
	background-color:#6699CC;
}

a.selectedInList, a.selectedInList:hover, a.selectedInList:active, a.selectedInList:visited{
	color:#FFFFFF;
}

.flightOptionOver{
	background-color:#FFFFFF;
	border: solid 1px #CCCCCC;
}

.flightOptionSel{
	background-color:#fef2eb;
	border: solid 1px #CCCCCC;
}

.flightOptionNormal{
	background-color:#FFFFFF;
	border:solid 1px #FFFFFF;
}

.pass_form label{
	float:left;
	width:140px;
	padding:3px 6px 0 0;
	cursor:default;
}

.pass_form input[type="text"], .pass_form input[type="password"]{
	width:200px;
}

.formLine{
	padding: 2px 0 2px 0;
	clear:both;
}

label.labelInFrom{
	float:none;
	width:auto;
	padding:0;
	cursor:pointer;
}

.termsList ul{
	padding-left:12px;
}

.greenBorder{
	border:1px solid #006633;
	padding:4px;
	margin:6px;
}

.greenText{
	color:#009933;
	font-weight:bold;
	font-size:18px;
}

.green{
	color:#009933;
}

/* Forms validation */
div.errorborder {
	border: 1px solid #CC0000;
	background-color:#FFFFCC;
	padding:4px;
	margin:6px;
}

/* AJAX */
.errorbox {
	padding: 8px;
	border: 1px solid #ff0000;
	display: none;
}

.AjaxLoading {
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: red;
	width: 80px;
	padding: 4px;
	display: none;
}


label.error {
	color: #ff0000;
	font-weight: bold;
}
.grey_links{
	color:#999999;
}
.grey_links a:link, .grey_links a:visited, .grey_links a:active, .grey_links a:hover{
	color:#999999;
}

.grey{
	color:#999999;
}

.alert {
	/*border: 1px solid #F00;*/
	outline:solid 1px #F00;
	/*font-weight:bold;*/
	color: #f00;
}

/* AJAX END */

#outer {height: 400px; overflow: hidden; position: relative;}
#outer[id] {display: table; position: static;}

#middle {position: absolute; top: 50%;} /* for explorer only*/
#middle[id] {display: table-cell; vertical-align: middle; width: 100%;}

#inner {position: relative; top: -50%} /* for explorer only */
/* optional: #inner[id] {position: static;} */

.wb_inner .hd .c,
.wb_inner .ft .c {
	font-size:1px; /* ensure minimum height */
	height:22px;
}
 
.wb_inner .ft .c {
 	height:22px;
}
 
.wb_inner .hd {
	background:transparent url(../images/dialog/left_top.png) no-repeat 0px 0px;
}
 
.wb_inner .hd .c {
	background:transparent url(../images/dialog/right_top.png) no-repeat right 0px;
}
 
.wb_inner .bd {
	background:transparent url(../images/dialog/left.png) repeat-y 0px 0px;
}
 
.wb_inner .bd .c {
	background:transparent url(../images/dialog/right.png) repeat-y right 0px;
}
.wb_inner .bd .c .s {
	background: #FFF;
	margin:0px 22px 0px 22px;
	height:auto;
}
.wb_inner .hd .c .s {
	margin:0px 22px 0px 22px;
	background: transparent url(../images/dialog/top.png) repeat-x;
	padding:22px;
}
.wb_inner .ft .c .s {
	margin:0px 22px 0px 22px;
	background: transparent url(../images/dialog/bottom.png) repeat-x;
	padding:22px;
} 
.wb_inner .ft {
	background:transparent url(../images/dialog/left_bottom.png) no-repeat 0px 0px;
} 
.wb_inner .ft .c {
	background:transparent url(../images/dialog/right_bottom.png) no-repeat right 0px;
}.calContainer .pointer {cursor:pointer;}
.calContainer .today {color:#FF0000;}
.calContainer .weekend {color:#0074bc;}
#monthcontainer {position:relative;height:172px; overflow:hidden;}
#monthlist {position:relative; height:172px;}

.calContainer .OutBdr {position:absolute; top:0px; left:0px; height:175px; width:100%; overflow:hidden; background-color:#FFFFFF;}
.calContainer .invalid {color:#9a9a9a;cursor:default; width:37px; height:21px;}
.calContainer .picked {
	background-color:#FFFFFF;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	color:#ff801e;
	font-weight:bold;	
}
#NavNext {position:absolute;height:22px; width:23px; background-color:#FFFFFF; z-index:50;}
#NavPrev {position:absolute;height:22px; width:23px; background-color:#FFFFFF; z-index:50;}
#NavClose {position:absolute;height:22px; width:23px; background-color:#FFFFFF; z-index:50;}
.calContainer .navImg {position:relative;top:0px;left:0px;cursor:pointer;}
.calContainer .month {position:absolute;overflow:hidden;}
.calContainer .month .body {
	overflow:hidden;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: #bde4fd; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a3d6fe', endColorstr='#d9f1fc'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#a3d6fe), to(#d9f1fc)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #a3d6fe,  #d9f1fc); /* for firefox 3.6+ */
	width:260px;
}
.calContainer .month .dates div {float:left; overflow:hidden; text-align:center; width:37px; height:21px;line-height:20px;}
.calContainer .hover{
	background-color:#FFFFFF;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.calContainer .month .title {position:relative; width:259px; height:25px;overflow:hidden;text-align:center;line-height:25px;}
.calContainer .month .weekdays {
	overflow:hidden; 
	background-color: #72b3e6;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	height:19px;
}
.calContainer .month .weekday {position:relative; width:37px; padding-top:3px; float:left; top:0px; overflow:hidden; text-align:center;}
.calContainer .month .dates {height:126px; overflow:hidden;}
.calContainer .titleFill {height:25px; top:2px; width:1px;background-color:#FFFFFF;}
.calContainer .calendarFill {height:172px;width:1px;background-color:#FFFFFF;}.dialog{
	zoom: 1;
	clear:both;
}
.dialog_top{
	background: transparent url(../images/dialog/left_top.png) left no-repeat;
	height:30px;
	padding-left:30px;
}

.dialog_top>div{
	background: transparent url(../images/dialog/right_top.png) right no-repeat;
	height:30px;
	padding-right:30px;
}
.dialog_top>div>div{
	background: transparent url(../images/dialog/top.png);
	height:30px;
}
.dialog_body{
	background: transparent url(../images/dialog/left.png) left repeat-y;
	padding-left:30px;
}
.dialog_body>div{	
	background: transparent url(../images/dialog/right.png) right repeat-y;
	padding-right:30px;
}
.dialog_body>div>div{
	background-color:#FFFFFF;
}
.dialog_bottom{
	background: transparent url(../images/dialog/left_bottom.png) left no-repeat;
	height:30px;
	padding-left:30px;
}
.dialog_bottom>div{
	background: transparent url(../images/dialog/right_bottom.png) right no-repeat;
	height:30px;
	padding-right:30px;
}
.dialog_bottom>div>div{
	background: transparent url(../images/dialog/bottom.png);
	height:30px;
}/*<style>*/
.jspContainer
{
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
}

.jspVerticalBar{
	top: 0;
	right: 0;
	width: 23px;
	height: 100%;
	
	position: absolute;
	background: #666;
	cursor: pointer;
	overflow: hidden;	
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: red;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
	margin: 0;
	padding: 0;
}

.jspCap
{
	display: none;
}


.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	position: relative;
	background: #aaa;
	background:url(scroll/bg.png);
}

.jspDrag
{
	background: #bbd;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}
.jspVerticalBar .jspDrag{
	position:relative;
		background: -webkit-gradient(linear, left top, left bottom, from(#d4d4d4), to(#b6b6b6)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #d4d4d4,  #b6b6b6); /* for firefox 3.6+ */
	background: -o-linear-gradient(top,  #d4d4d4,  #b6b6b6);  /* opera */
	}

.jspVerticalBar .jspDragTop{
	height:3px;
	background:url(scroll/drag_top.png) no-repeat 0 0;
}

.jspVerticalBar .jspDragBottom{
	height:3px;
	position: relative;
	background:url(scroll/drag_bottom.png) no-repeat 0 0;
}
.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow
{
	height: 23px;
}

.jspVerticalBar .jspArrowUp
{	
	background:url(scroll/up.png) no-repeat 0 0; 
}

.jspVerticalBar .jspArrowDown
{
	background:url(scroll/down.png) no-repeat 0 0; 
}


.jspHorizontalBar .jspArrow
{
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}.indexSpecPairsPrice{
	float:right;
	font-size:12px;
	height:19px;
	white-space:nowrap;
}

.indexSpecPairs{
	width:120px;
	float:left;
	height:19px;
	overflow:hidden;
}

.indexSpecPairsDivider{
	float:left;
	width: 186px;
	border-left:1px dashed #c0c0c0;
	margin-right:10px;
	padding-left:10px;
}