<div class="wrap-fields">
    <ul id="field-sortable" class="field-list" data-prototype="{{ form_row(fields.vars.prototype)| noJsScript | e }}" style="margin-bottom: 20px;padding: 0;list-style: none outside;">
            {% for name,f in fields %}
                    <li class="delete-block">
                        {{ form_row(f) }}
                        {% if not loop.first %}
                            <div>
                                <a class="delete btn btn-danger">
                                    <i class="icon-trash"></i> Удалить
                                </a>
                            </div>
                        {% endif %}
                        <span class="handle"><i class="icon-move"></i> </span>
                     </li>
            {% endfor %}
    </ul>
    <div class="controls">
        <a href="#" class="btn btn-success add-another"><i class="icon-plus"></i> Добавить</a>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function() {
        (function(){

            $('body').on('click','.add-another',function() {
                var list = $(this).parent('div')
                        .parent('.wrap-fields').find('> .field-list');
                var count = list.find('> .delete-block').length;
                count++;
                var newWidget = list.attr('data-prototype');

                newWidget = newWidget.replace(/__prototype__/g, count);
                var newDiv = $('<li></li>',{"class":"delete-block"})
                        .append(newWidget,$('<div>',{
                            html:$('<a>',{"class":'delete btn btn-danger',
                                html:'<i class="icon-trash"></i>  Удалить'
                            })
                        }),'<span class="handle"><i class="icon-move"></i> </span>');
                list.append(newDiv);
                $(newDiv).find('textarea.useEditor').each(function(i){
                    var ckeditorContent =  CKEDITOR.replace(this,{language: 'ru'});
                    AjexFileManager.init({returnTo: 'ckeditor', editor: ckeditorContent});
                });
                return false;
            });
            $('body').on('click','.delete',function(){
                var target =$(this).parents('li.delete-block');
                target.remove();
            });
        })();
    })
</script>