div(class="ticket" ng-repeat="ticket in tickets")
    .logo-alians
        img(src='/bundles/aviagofrontend/images/logo-skyteam.png', alt='')
    .ticket-price
        h2 {{formatPrice(ticket.total_price)}} {{ticket.currency}}
        span.col-passenjers
            | - за
            span.col-user 1 человека
            |  с налогами и сборами
    div(ng-repeat="iterarie in ticket.itineraries")
        div(class="ticket-wrap" ng-repeat="variant in iterarie.variants")
            .date-ticket
                span {{dateFormat(departureSegment(variant).departure_date)}}
            div(class="group-ticket" ng-repeat="segment in variant.segments")
                div(class="ticket-body" ng-init="depSeg = segment;arrSeg=segment;flightNumbers=segment.flight_number")
                    include ./../../_common/ticket_partial

                    .duration
                        p {{translator.trans("frontend.default.list.item.duration")}}:
                        .time {{secondsToTime(segment.arrival_date-segment.departure_date)}}
