div(class="ticket" ng-repeat="ticket in tickets")
    .logo-alians
        img(src='/bundles/aviagofrontend/images/logo-skyteam.png', alt='')
    .ticket-price
        h2 {{ticket.total_price}} {{ticket.currency}}
        span.col-passenjers
            | - за
            span.col-user 1 человека
            |  с налогами и сборами
    div(ng-repeat="iterarie in ticket.itineraries")
        div(class="ticket-wrap" ng-repeat="variant in iterarie.variants")
            .date-ticket
                span {{dateFormat(departureSegment(variant).departure_date)}}
            div(class="group-ticket" ng-repeat="segment in variant.segments")
                .ticket-body
                    .company
                        .image-block
                            i.city-logo.UN
                                img(src='/bundles/aviagofrontend/images/aeroflot.png', alt='')
                        .info-block
                            .name {{ segment.marketing_airline}}
                            span.type {{ segment.marketing_airline_name }} {{ segment.aircraft_name }}
                            span.number-reys {{segment.flight_number}}
                    .up-date
                        p Время вылета:
                        .time {{dateFormat(segment.departure_date)}}
                        .city-block
                            .city {{segment.departure_city_name}}
                            .aeroport
                                | {{ segment.departure_airport_name }}
                                span.terminal(
                                ng-show="segment.departure_terminal"
                                title='терминал {{segment.departure_terminal}}') {{segment.departure_terminal}}
                    .down-date
                        p Время прилета:
                        .time
                            | {{ dateFormat(segment.arrival_date) }}
                            //span + 1 день
                        .city-block
                            .city {{segment.arrival_city_name}}
                            .aeroport
                                | {{ segment.arrival_airport_name }}
                                span.terminal(
                                ng-show="segment.arrival_terminal"
                                title='терминал {{segment.arrival_terminal}}') {{segment.arrival_terminal}}
                    .duration
                        p Продолжительность:
                        .time {{variant.duration}}
