<div style="background: no-repeat url({{ "/bundles/bundlesdefault/images/sf_bg.png" }}); height:329px; margin-left:3px;">
    <div style="clear:both;">
        <div style="float:left; width: 161px; top:2px; height:50px; position:relative;" align="center" class="tab">
            <h1><a href="">Авиабилеты</a></h1>
        </div>
        <div style="float:left; width: 161px; top:2px; height:50px; position:relative;" align="center" class="tab">
            <a href="http://www.booking.com/index.html?aid=320568" target="_blank" rel="nofollow">Гостиницы</a>
        </div>
        <div style="float:left; width: 161px; top:2px; height:50px; position:relative;" align="center" class="tab">
            <a href="http://aviago.com.ua/прокат-авто/">Прокат авто</a>
        </div>
    </div>
    <div style="clear:both; width:597px; padding:6px 16px;">
        <div id="cityChecker" style="position:relative;"></div>
        <div style="height:10px; clear:both;"></div>
        <form id="flightSearchForm" autocomplete="off" name="searchForm" method="post" action="search.php">
            <div>
                <div align="center">
                    <input type="radio" name="journey" id="journey-rt" checked="checked" value="roundTrip">
                    <label for="journey-rt">в обе стороны</label>
                    <input type="radio" name="journey" id="journey-ow" value="oneway">
                    <label for="journey-ow">в одну сторону</label>
                    <input type="radio" name="journey" id="journey-mu" value="multi">
                    <label for="journey-mu">возвращение из/в другие аэропорты</label>
                </div>
                <div style="height:10px;"></div>
                <div style="height:88px;">
                    <div style="height:32px; clear:both;">
                        <div style="float:left; width:65px;" align="right" class="lbl">из:</div>
                        <div style="float:left;">
                            <div style="display:inline;">
                                <div style="width:220px;" class="inputWrap">
                                    <div style="float:left;">
                                        <input class="inpWbtn faint_input" id="" name="" type="text" placeholder="введите город" style="width:198px;">
                                    </div>
                                    <div class="input_icon">
                                        <img src="https://files.avia.lt/images/cities-list.png" border="0"
                                             alt="Список всех аэропортов" title="Список всех аэропортов" height="18"
                                             width="18">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="float:left; width:65px;" align="right" class="lbl">в:</div>
                        <div style="float:left;">
                            <div style="display:inline;">
                                <div style="width:220px;" class="inputWrap">
                                    <div style="float:left;">
                                        <input class="inpWbtn faint_input" id="iata[2]" name="iata[2]" type="text"
                                               placeholder="введите город"
                                               title="Введите название города или нажмите на значёк с глобусом"
                                               style="width:198px;">
                                    </div>
                                    <div class="input_icon">
                                        <img src="https://files.avia.lt/images/cities-list.png" border="0" height="18" width="18">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="multi" style="height:32px; display:none;clear:both;">
                        <div style="float:left; width:65px;" align="right" class="lbl">из (2):</div>
                        <div style="float:left;">
                            <div style="display:inline;">
                                <div style="width:220px;" class="inputWrap">
                                    <div style="float:left;">
                                        <input class="inpWbtn faint_input" id="iata[3]" name="iata[3]" type="text" style="width:198px;">
                                    </div>
                                    <div class="input_icon">
                                        <img src="https://files.avia.lt/images/cities-list.png" border="0" height="18" width="18">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="float:left; width:65px;" align="right" class="lbl">в (2):</div>
                        <div style="float:left;">
                            <div style="display:inline;">
                                <div style="width:220px;" class="inputWrap">
                                    <div style="float:left;">
                                        <input class="inpWbtn faint_input" id="iata[4]" name="iata[4]" type="text"
                                               placeholder="введите город"
                                               title="Введите название города или нажмите на значёк с глобусом"
                                               style="width:198px;">
                                    </div>
                                    <div class="input_icon">
                                        <img src="https://files.avia.lt/images/cities-list.png" border="0"
                                             alt="Список всех аэропортов" title="Список всех аэропортов" height="18"
                                             width="18">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div style="float:left;">
                            <div style="float:left; width:65px;" align="right" class="lbl">туда:</div>
                            <div style="width:220px;" class="inputWrap">
                                <div style="float:left;">
                                    <input style="width:198px; border:none;" class="inpWbtn" type="text" size="10"
                                           id="depDate" title="Календарь" placeholder="укажите дату">
                                    <input type="hidden" id="depDateVal" name="depDate" value=""/>
                                </div>
                                <div class="input_icon">
                                    <img src="https://files.avia.lt/images/calendar.png" id="depDateImg" alt="Календарь"
                                         title="Календарь" height="18" width="18">
                                </div>
                            </div>
                        </div>
                        <div id="inbound" style="float:left;">
                            <div style="float:left; width:65px;" align="right" class="lbl">назад:</div>
                            <div style=" width:220px;" class="inputWrap">
                                <div style="float:left;">
                                    <input style="width:198px;" class="inpWbtn" type="text" size="10" id="arrDate"
                                           name="arrDate" title="Календарь" placeholder="укажите дату">
                                    <input type="hidden" id="arrDateVal" name="arrDate" value=""/>
                                </div>
                                <div class="input_icon">
                                    <img src="https://files.avia.lt/images/calendar.png" id="arrDateImg" alt="Календарь"
                                         title="Календарь" height="18" width="18">
                                </div>
                            </div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                </div>
                <div align="right">
                    <div class="white_border" style="display: inline-block; margin:10px 0; padding:5px 10px;">
                        <div style="float:left;">
                            <input type="checkbox" name="flexible" id="flexible" checked="checked">
                            <label for="flexible">лучшая цена &plusmn;3 дня</label>
                        </div>
                        <div style="float:left; padding-left:12px;">
                            <input type="checkbox" name="direct" id="direct">
                            <label for="direct_only">только прямые рейсы</label>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                    <div>
                        <div style="float:left;">
                            <div align="right" style="height:22px; clear:both;">
                                <div style="float:left; width:110px;" align="right" class="lbl2">взрослые (с 12):</div>
                                <select name="adults" id="adults">
                                    <option value="0" selected="selected">0</option>
                                    <option value="1" selected="selected">1</option>

                                </select>
                            </div>
                            <div align="right" style="height:22px; clear:both;">
                                <div style="float:left; width:110px;" align="right" class="lbl2">дети (2-11):</div>
                                <select name="children" id="children">
                                    <option value="0" selected="selected">0</option>
                                    <option value="1">1</option>
                                </select>
                            </div>
                            <div align="right" style="height:22px; clear:both;">
                                <div style="float:left; width:110px;" align="right" class="lbl2">младенцы (до 2):</div>
                                <select name="infants" id="infants">
                                    <option value="0" selected="selected">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select>
                            </div>
                        </div>
                        <div style="float:left;">
                            <div align="right" style="height:22px; clear:both;">
                                <div style="float:left; width:115px;" align="right" class="lbl2">класс:</div>
                                <select name="cabin" style="font-size:12px; width:152px;">
                                    <option value="none">любой</option>
                                    <option value="C">бизнес / 1 класс</option>
                                </select>
                            </div>
                            <div align="right" style="height:22px; clear:both;">
                                <div style="float:left; width:115px;" align="right" class="lbl2">авиакомпания:</div>
                                <select name="airline" style="font-size:12px; width:152px;">
                                    <option value="all">любая</option>
                                </select>
                            </div>
                            <input type="hidden" name="currency" value="EUR">
                        </div>
                        <div align="right" style="position:relative; float:right; top:-10px; right:-10px;">
                            <div class="button">Искать</div>
                        </div>
                        <div style="clear:both;"></div>
                    </div>
                </div>
                <input type="hidden" name="search" value="true">
            </div>
        </form>
    </div>
</div>