<div class="tabs">
    <ul>
        <li>
            <a target="specials">
                <div style="width:280px;" class="tab">Дешевые авиабилеты</div>
            </a>
        </li>
        <li>
            <a target="popular_cities">
                <div style="width:279px;" class="tab">Популярные города</div>
            </a>
        </li>
    </ul>
    <div>
        <div id="specials" style="height:145px;">
        <div style="background:transparent url({{ "/bundles/bundlesdefault/images/spec_big_bg.png" }}) no-repeat; width:635px; height:32px; position:relative; left:-10px;">
            <div style="float:left; padding-left:14px; width:266px;">
                <div style="float:left; line-height:32px;">
                    <a href="дешевые-авиабилеты-Киев–Стокгольм/" title="Киев-Стокгольм">Киев-Стокгольм</a>
                </div>
                <div style="float:right; font-size:18px; line-height:32px;" align="right">1315 грн.</div>
            </div>
            <div style="float:right; padding-right:34px; width:264px;">
                <div style="float:left; line-height:32px;">
                    <a href="дешевые-авиабилеты-Киев–Осло/" title="Киев-Осло">Киев-Осло</a>
                </div>
                <div style="float:right; font-size:18px; line-height:32px;" align="right">1838 грн.</div>
            </div>
        </div>
        <div style="width:600px; padding-left:4px; height:100px;">
            <div class="spec" style="padding-top: 12px;">
                <div style="float:left; width: 186px;" align="left">
                    <div style="float:left;" align="left">
                        <div class="indexSpecPairs">
                            <a href="дешевые-авиабилеты-Киев–Милан/" title="Киев-Милан">Киев-Милан</a>
                        </div>
                        <div class="indexSpecPairsPrice" align="right">1873 грн.</div>
                    </div>
                    <div style="float:left;" align="left">
                        <div class="indexSpecPairs">
                            <a href="дешевые-авиабилеты-Киев–Харьков/" title="Киев-Харьков">Киев-Харьков</a>
                        </div>
                        <div class="indexSpecPairsPrice" align="right">1985 грн.</div>
                    </div>
                    <div style="float:left;" align="left">
                        <div class="indexSpecPairs">
                            <a href="дешевые-авиабилеты-Днепропетровск–Москва/" title="Днепропетровск-Москва">Днепропетровск-&#8230;</a>
                        </div>
                        <div class="indexSpecPairsPrice" align="right">2193 грн.</div>
                    </div>
                </div>
                <div class="indexSpecPairsDivider">
                    <div style="float:left;" align="left">
                        <div class="indexSpecPairs">
                            <a href="дешевые-авиабилеты-Харьков–Стамбул/" title="Харьков-Стамбул">Харьков-Стамбул</a>
                        </div>
                        <div class="indexSpecPairsPrice" align="right">2447 грн.</div>
                    </div>
                    <div style="float:left;" align="left">
                        <div class="indexSpecPairs">
                            <a href="дешевые-авиабилеты-Киев–Таллинн/" title="Киев-Таллинн">Киев-Таллинн</a>
                        </div>
                        <div class="indexSpecPairsPrice" align="right">2528 грн.</div>
                    </div>
                    <div style="float:left;" align="left">
                        <div class="indexSpecPairs">
                            <a href="дешевые-авиабилеты-Киев–Мюнхен/" title="Киев-Мюнхен">Киев-Мюнхен</a>
                        </div>
                        <div class="indexSpecPairsPrice" align="right">2680 грн.</div>
                    </div>
                </div>
                <div class="indexSpecPairsDivider">
                    <div style="float:left;" align="left">
                        <div class="indexSpecPairs">
                            <a href="дешевые-авиабилеты-Киев–Ницца/" title="Киев-Ницца">Киев-Ницца</a>
                        </div>
                        <div class="indexSpecPairsPrice" align="right">2838 грн.</div>
                    </div>
                    <div style="float:left;" align="left">
                        <div class="indexSpecPairs">
                            <a href="дешевые-авиабилеты-Киев–Копенгаген/" title="Киев-Копенгаген">Киев-Копенгаген</a>
                        </div>
                        <div class="indexSpecPairsPrice" align="right">2868 грн.</div>
                    </div>
                    <div style="float:left;" align="left">
                        <div class="indexSpecPairs">
                            <a href="дешевые-авиабилеты-Днепропетровск–Тбилиси/" title="Днепропетровск-Тбилиси">Днепропетровск-&#8230;</a>
                        </div>
                        <div class="indexSpecPairsPrice" align="right">2944 грн.</div>
                    </div>
                </div>
            </div>
            <div style="height:2px; clear:both;"></div>
            <div class="dline"></div>
            <div align="right" class="blue_arrow">
                <a href="дешевые-авиабилеты/" title="Больше информации" style="font-size:12px;">Больше дешевых
                    полетов...</a>
            </div>
        </div>
    </div>
        <div id="popular_cities" align="left" style="padding:8px;">
        <table border="0" width="100%" cellpadding="0" cellspacing="0">
            <tr>
                <td valign="top" width="33%">
                    <div style="width:90px; float:left;" class="smaller">
                        <a href="https://aviago.com.ua/авиабилеты-Амстердам/" title="">Амстердам</a>
                    </div>
                    <div style="width:90px; float:left;">
                        <span class="smaller">от</span>
                        <span>2609 грн.</span>
                    </div>
                    <div style="clear:both;"></div>
                    <div style="width:90px; float:left;" class="smaller">
                        <a href="https://aviago.com.ua/авиабилеты-Афины/" title="">Афины</a>
                    </div>
                    <div style="width:90px; float:left;">
                        <span class="smaller">от</span>
                        <span>2071 грн.</span>
                    </div>
                    <div style="clear:both;"></div>
                    <div style="width:90px; float:left;" class="smaller">
                        <a href="https://aviago.com.ua/авиабилеты-Бангкок/" title="">Бангкок</a>
                    </div>
                    <div style="width:90px; float:left;">
                        <span class="smaller">от</span>
                        <span>7503 грн.</span>
                    </div>
                    <div style="clear:both;"></div>
                    <div style="width:90px; float:left;" class="smaller">
                        <a href="https://aviago.com.ua/авиабилеты-Барселона/" title="">Барселона</a>
                    </div>
                    <div style="width:90px; float:left;">
                        <span class="smaller">от</span>
                        <span>1401 грн.</span>
                    </div>
                    <div style="clear:both;"></div>
                    <div style="width:90px; float:left;" class="smaller">
                        <a href="https://aviago.com.ua/авиабилеты-Дублин/" title="">Дублин</a>
                    </div>
                    <div style="width:90px; float:left;">
                        <span class="smaller">от</span>
                        <span>4320 грн.</span>
                    </div>
                    <div style="clear:both;"></div>
                    <div style="width:90px; float:left;" class="smaller">
                        <a href="https://aviago.com.ua/авиабилеты-Копенгаген/" title="">Копенгаген</a>
                    </div>
                    <div style="width:90px; float:left;">
                        <span class="smaller">от</span>
                        <span>2868 грн.</span>
                    </div>
                    <div style="clear:both;"></div>
                </td>
                <td valign="top" width="33%" style="border-left:1px dashed #c0c0c0; padding-left:8px;">
                    <div style="width:90px; float:left;" class="smaller">
                        <a href="https://aviago.com.ua/авиабилеты-Ларнака/" title="">Ларнака</a>
                    </div>
                    <div style="width:90px; float:left;">
                        <span class="smaller">от</span>
                        <span>1858 грн.</span>
                    </div>
                    <div style="clear:both;"></div>
                    <div style="width:90px; float:left;" class="smaller">
                        <a href="https://aviago.com.ua/авиабилеты-Лондон/" title="">Лондон</a>
                    </div>
                    <div style="width:90px; float:left;">
                        <span class="smaller">от</span>
                        <span>1883 грн.</span>
                    </div>
                    <div style="clear:both;"></div>
                    <div style="width:90px; float:left;" class="smaller">
                        <a href="https://aviago.com.ua/авиабилеты-Милан/" title="">Милан</a>
                    </div>
                    <div style="width:90px; float:left;">
                        <span class="smaller">от</span>
                        <span>1873 грн.</span>
                    </div>
                    <div style="clear:both;"></div>
                    <div style="width:90px; float:left;" class="smaller">
                        <a href="https://aviago.com.ua/авиабилеты-Москва/" title="">Москва</a>
                    </div>
                    <div style="width:90px; float:left;">
                        <span class="smaller">от</span>
                        <span>1025 грн.</span>
                    </div>
                    <div style="clear:both;"></div>
                    <div style="width:90px; float:left;" class="smaller">
                        <a href="https://aviago.com.ua/авиабилеты-Нью-Йорк/" title="">Нью-Йорк</a>
                    </div>
                    <div style="width:90px; float:left;">
                        <span class="smaller">от</span>
                        <span>5950 грн.</span>
                    </div>
                    <div style="clear:both;"></div>
                    <div style="width:90px; float:left;" class="smaller">
                        <a href="https://aviago.com.ua/авиабилеты-Осло/" title="">Осло</a>
                    </div>
                    <div style="width:90px; float:left;">
                        <span class="smaller">от</span>
                        <span>1178 грн.</span>
                    </div>
                    <div style="clear:both;"></div>
                </td>
                <td valign="top" width="33%" style="border-left:1px dashed #c0c0c0; padding-left:8px;">
                    <div style="width:90px; float:left;" class="smaller">
                        <a href="https://aviago.com.ua/авиабилеты-Париж/" title="">Париж</a>
                    </div>
                    <div style="width:90px; float:left;">
                        <span class="smaller">от</span>
                        <span>1487 грн.</span>
                    </div>
                    <div style="clear:both;"></div>
                    <div style="width:90px; float:left;" class="smaller">
                        <a href="https://aviago.com.ua/авиабилеты-Рим/" title="">Рим</a>
                    </div>
                    <div style="width:90px; float:left;">
                        <span class="smaller">от</span>
                        <span>2371 грн.</span>
                    </div>
                    <div style="clear:both;"></div>
                    <div style="width:90px; float:left;" class="smaller">
                        <a href="https://aviago.com.ua/авиабилеты-Стамбул/" title="">Стамбул</a>
                    </div>
                    <div style="width:90px; float:left;">
                        <span class="smaller">от</span>
                        <span>1229 грн.</span>
                    </div>
                    <div style="clear:both;"></div>
                    <div style="width:90px; float:left;" class="smaller">
                        <a href="https://aviago.com.ua/авиабилеты-Тель-Авив/" title="">Тель-Авив</a>
                    </div>
                    <div style="width:90px; float:left;">
                        <span class="smaller">от</span>
                        <span>1340 грн.</span>
                    </div>
                    <div style="clear:both;"></div>
                    <div style="width:90px; float:left;" class="smaller">
                        <a href="https://aviago.com.ua/авиабилеты-Франкфурт-на-Майне/" title="">Франкфурт-&#8230;</a>
                    </div>
                    <div style="width:90px; float:left;">
                        <span class="smaller">от</span>
                        <span>1792 грн.</span>
                    </div>
                    <div style="clear:both;"></div>
                    <div style="width:90px; float:left;" class="smaller">
                        <a href="https://aviago.com.ua/авиабилеты-Чикаго/" title="">Чикаго</a>
                    </div>
                    <div style="width:90px; float:left;">
                        <span class="smaller">от</span>
                        <span>10849 грн.</span>
                    </div>
                    <div style="clear:both;"></div>
                </td>
                <td valign="top" width="33%"></td>
            </tr>
        </table>
    </div>
    </div>
</div>