{% extends "BundlesDefaultBundle:Layouts:main.html.twig" %}
{% block content %}
    <section class="container" role="contentinfo" ui-view>

    </section>
    {% include 'BundlesDefaultBundle:Default:_seoContent.html.twig' %}
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('/build/dist/js/index/index.js') }}" type="text/javascript"></script>
{% endblock %}