{% extends "BundlesDefaultBundle:Layouts:main.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col-md-8">
            <div class="col-md-6">
                {{ form_row(form.city_from) }}
                {{ form_row(form.date_from) }}
            </div>
            <div class="col-md-6">
                {{ form_row(form.city_to) }}
                {{ form_row(form.date_to) }}
            </div>

        </div>
    </div>
{% endblock %}

