{% extends "BundlesDefaultBundle:Layouts:main.html.twig" %}
{% block body %}
    <h1>working space</h1>
    <div class="row">

        <div class="col-xs-8">
            <div class=" info-box">
                <div class="row">
                    <div class="col-xs-7">
                        <div class="title">Разработка общего функционала</div>
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                Аблялимов Абляким <i class="icon-angle-right"></i> Аблялимов Абляким
                            </div>
                            <div class="panel-body">
                                <i class="icon-time text-muted">
                                    <a href="#" class="ajax-link text-muted">27:00 часов</a>
                                </i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-7">
                        <span class="label label-info">Программинг</span>
                    </div>
                    <div class="col-xs-5">
                        <div class="btn btn-success  pull-right">
                            <i class="icon-play"></i>
                            начать работу
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-box">
                <div class="title">Краткое описание задачи</div>
                <div>
                    Porttitor aptent varius luctus nibh eros vel posuere. Blandit, cras sodales leo amet lacinia. Felis vulputate integer class eleifend nascetur etiam erat pretium nec nullam ornare fermentum? Turpis sociis tempor nunc condimentum cum ut class habitant facilisi nostra penatibus. Cras curabitur curabitur nostra congue etiam suspendisse nisi proin integer pulvinar velit placerat. Laoreet penatibus placerat nunc pulvinar felis blandit dictum mauris. Viverra suspendisse molestie lacinia phasellus hac lectus fermentum vivamus in. Vivamus, et nec leo! Convallis dictum
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="info-box">
                <div class="title">Задачи</div>
                <ul class="nav nav-pills nav-stacked nav-dashed">
                    {% for i in 1..5 %}
                        <li>
                            <a href="">
                                Задача {{ i }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>


    <style>
        .img{
            /*width: 50px;*/
            margin-right: 10px;
            float: left;
        }
        .nav-dashed li > a{
            border: 1px solid #cccccc;
            -webkit-box-shadow: 3px 3px 0px 0px rgba(47, 50, 50, 0.16);
            -moz-box-shadow:    3px 3px 0px 0px rgba(47, 50, 50, 0.16);
            box-shadow:         3px 3px 0px 0px rgba(47, 50, 50, 0.16);
        }
        .info-box{
            margin-bottom:20px;
            min-height: 75px;
            border: 1px solid #CCCCCC;
            padding: 10px;
            -webkit-box-shadow: 3px 3px 0px 0px rgba(47, 50, 50, 0.16);
            -moz-box-shadow:    3px 3px 0px 0px rgba(47, 50, 50, 0.16);
            box-shadow:         3px 3px 0px 0px rgba(47, 50, 50, 0.16);
        }
        .post{
            color: #A1A1A1;
        }
        .name{
            font-size: 16px;
        }
        .title{
            font-size: 22px;
        }

    </style>
{% endblock %}
