{% extends "BundlesDefaultBundle:Layouts:main.html.twig" %}
{% block body %}
    <h2>Отдел разработки</h2>
    <div class="row">
        <div class="col-xs-6">
           {% for i in 1..5 %}
               <div class="row info-box">
                   <div class="img">
                       <img src="http://placekitten.com/75/75" />
                   </div>
                   <div class="info">
                       <div class="name">Аблялимов Абляким Замирович</div>
                       <div class="post">Программист</div>
                       {#телефон : +980669533156#}

                   </div>
               </div>
            {% endfor %}
        </div>
    </div>
    <h2>Отдел дизайна</h2>
    <div class="row">
        <div class="col-xs-6">
            {% for i in 1..5 %}
                <div class="row info-box">
                    <div class="img">
                        <img src="http://placekitten.com/75/75" />
                    </div>
                    <div class="info">
                        <div class="name">Аблялимов Абляким Замирович</div>
                        <div class="post">дизайнер</div>
                        {#телефон : +980669533156#}

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <style>
        .img{
            /*width: 50px;*/
            margin-right: 10px;
            float: left;
        }
        .info-box{
            margin-bottom:20px;
            min-height: 75px;
            border: 1px solid #CCCCCC;
            padding: 10px;
            -webkit-box-shadow: 3px 3px 0px 0px rgba(47, 50, 50, 0.16);
            -moz-box-shadow:    3px 3px 0px 0px rgba(47, 50, 50, 0.16);
            box-shadow:         3px 3px 0px 0px rgba(47, 50, 50, 0.16);
        }
        .post{
            color: #A1A1A1;
        }
        .name{
            font-size: 16px;
        }
    </style>
{% endblock %}
