
{% extends 'AcmeAdminBundle:Layouts:main.html.twig' %}
{% block body %}

    <h1>Список галерей</h1>
    <a class="btn btn-success pull-right" href="{{ url('admin.gallery.add') }}">Добавить</a>
    {{ bootstrapTable(data,params) |raw}}


    <script>
        $(document).ready(function(){
            $('tbody').sortable({ opacity: 0.5,
                stop: function(e,ui){
                    setTimeout(function(){
                        var position = $(ui.item).index() + 1;
                        var id = $(ui.item).find('td:first').text();
                        id.replace(/[^0-9]/i,'');
                        $.post('{{ path('admin.gallery.changeposition') }}',{
                            newPosition : position,
                            id: id
                        })
                    },100);
                },
                forcePlaceholderSize: false,
                handle : '.move'

            });
        });
    </script>
{% endblock %}