mixin input()
    div(class!=attributes.wrapClass)
        label(for!=attributes.id||"{{"+attributes['ang-prefix']+".id}}")!=attributes.label||"{{"+attributes['ang-prefix']+".label}}"
        .input
            input(
                id!=attributes.id || "{{"+attributes['ang-prefix']+".id}}"
                type!=attributes.type || 'text', placeholder!=attributes.placeholder
                ng-model=attributes['ng-model'] || attributes['ang-prefix']+".data"
                )