//.calendar-block
//    .calendar-head
//        h3 Лучшие цены в пределах +/- 3 дней
//    .calendar-body
//        .obratno
//            i.left-arrow
//            |  Обратно
//        table#calendar_table.table-calendar
//            tbody
//                tr
//                    td
//                        span.tuda
//                            i.right-arrow
//                            |  Туда
//                    td 25.06.2015
//                    td 26.06.2015
//                    td 27.06.2015
//                    td 28.06.2015
//                    td 29.06.2015
//                    td 30.06.2015
//                    td 01.07.2015
//                tr
//                    td 24.06.2015
//                    td
//                        a(href='#') 18 176 RUB
//                    td
//                        a(href='#') 18 176 RUB
//                    td
//                        a(href='#') 18 176 RUB
//                    td
//                        a(href='#') 18 176 RUB
//                    td
//                        a(href='#') 18 176 RUB
//                    td
//                        a(href='#') 18 176 RUB
//                    td
//                        a(href='#') 18 176 RUB
//                tr
//                    td 25.06.2015
//                    td
//                        a(href='#') 18 176 RUB
//                    td
//                        a(href='#') 18 176 RUB
//                    td
//                        a(href='#') 18 176 RUB
//                    td
//                        a(href='#') 18 176 RUB
//                    td
//                        a(href='#') 18 176 RUB
//                    td
//                        a(href='#') 18 176 RUB
//                    td
//                        a(href='#') 18 176 RUB
//                tr
//                    td 26.06.2015
//                    td
//                        a(href='#') 18 176 RUB
//                    td
//                        a(href='#') 18 176 RUB
//                    td
//                        a(href='#') 18 176 RUB
//                    td
//                        a(href='#') 18 176 RUB
//                    td
//                        a(href='#') 18 176 RUB
//                    td
//                        a(href='#') 18 176 RUB
//                tr
//                    td 27.06.2015
//                    td
//                        span.text-warning.calendar-item
//                    td
//                        span.text-warning.calendar-item
//                    td
//                        a(href='#') 18 176 RUB
//                    td
//                        a(href='#') 18 176 RUB
//                    td
//                        a(href='#') 18 176 RUB
//                    td
//                        a(href='#') 18 176 RUB
//                    td
//                        a(href='#') 18 176 RUB