include ../form/layout
form(action='#')
    .group-sidebar
        fieldset.tab-direction
            .input-group
                input#one-direction.radio-button(type='radio', name='direction' ng-model="searchForm.direction[0].data")
                label(for='one-direction') В одну сторону
            .input-group
                input#one-two-direction.radio-button(type='radio', name='direction' ng-model="searchForm.direction[1].data")
                label(for='one-two-direction') В обе стороны
        fieldset.form-group
            // Простой поиск
            .simple-search
                +autocamplete()(wrapClass='departure-from input-group' ang-prefix="searchForm.formValue.departureCode" search-length="3" reverse-component="1")
                .input-group.refresh
                    a(ng-click="reverse()" href='#', title='Поменять местами')
                        i.icon-refresh
                +autocamplete()(wrapClass='arriving-in input-group' ang-prefix="searchForm.formValue.arrivalCode" search-length="3" reverse-component="1")

        fieldset.form-group
            +datepicker()(attr-id="up-date" wrapClass='date-simple up-date input-group' ang-prefix="searchForm.formValue.departureDate" name="arrivalDate"  max-from="departureDate")
            +datepicker()(attr-id="up-date" wrapClass='date-simple down-date input-group' ang-prefix="searchForm.formValue.arrivalDate" name="departureDate"  max-from="arrivalDate")

        // Группа формы
        fieldset.form-group
            // Дополнительные параметры (Прямые рейсы, лучшая цена, выбор авиакомпании, класс обслуживания, взрослые, дети, младенцы)
            .additional-options
                .additional-text
                    a(href='#' ng-click="searchForm.viewAdditionalFields= !searchForm.viewAdditionalFields")
                        | Дополнительные параметры
                        i.icon-down
                div(class="additional-wrap ng-hide" ng-show="searchForm.viewAdditionalFields")
                    .form-group.passenjers-select
                        //+choice()(wrapClass='adults input-group' ang-prefix="searchForm.formValue.infant")
                        .adults.input-group
                            label(for='#adults') Взрослые (12+)
                            .select
                                select#adults(name='adults')
                                    option(value='1') 1
                                    option(value='2') 2
                                    option(value='3') 3
                                    option(value='4') 4
                        .children.input-group
                            label(for='#children') Дети (2-11)
                            .select
                                select#children(name='children')
                                    option(value='0') 0
                                    option(value='1') 1
                                    option(value='2') 2
                                    option(value='3') 3
                            a.age-rule-link(href='#')
                                | Правила перевозки детей
                                i.icon-window
                        .infant.input-group
                            label(for='#infant') Младенцы (0-1)
                            .select
                                select#infant(name='infant')
                                    option(value='0') 0
                                    option(value='1') 1
                                    option(value='2') 2
                                    option(value='3') 3
                    .form-group
                        .checkbox-input.input-group
                            input#only-one-direction.checkbox-button(type='checkbox', name='only-one-direction')
                            label(for='only-one-direction') Только прямые рейсы
                        .checkbox-input.input-group
                            input#best-price-three-day.checkbox-button(type='checkbox', name='best-price-three-day')
                            label(for='best-price-three-day') Лучшая цена +3 дня
                        .checkbox-input.input-group
                            input#refundable.checkbox-button(type='checkbox', name='refundable')
                            label(for='refundable') Отменяемый тариф
                    .form-group
                        .aviacompany.input-group
                            label(for='#aviacompany') Выбор авиакомпании
                            .select
                                select#aviacompany(name='aviacompany')
                                    option(value='0') Любая
                                    option(value='1') Любая 1
                                    option(value='2') Любая 2
                                    option(value='3') Любая 3
                        .class-service.input-group
                            label(for='#class-service') Класс обслуживания
                            .select
                                select#class-service(name='class-service')
                                    option(value='0') Эконом
                                    option(value='1') Эконом 1
                                    option(value='2') Эконом 2
                                    option(value='3') Эконом 3
        .button-buy-wrap
            button.button.button-buy(type='submit') Обновить поиск
    .group-sidebar.fast-filter
        h3 Быстрые фильтры
        // Группа формы (аэропорт вылета)
        fieldset.form-group
            p Аэропорт вылета
            .checkbox-input.input-group
                input#vnukovo.checkbox-button(type='checkbox', name='aeroport')
                label(for='vnukovo') Москва, Внуково
            .checkbox-input.input-group
                input#sheremetevo.checkbox-button(type='checkbox', name='aeroport')
                label(for='sheremetevo') Москва, Шереметьево
            .checkbox-input.input-group
                input#domodedovo.checkbox-button(type='checkbox', name='aeroport')
                label(for='domodedovo') Москва, Домодедово
        // Группа формы (Аэропорт прилета)
        fieldset.form-group
            p Аэропорт прилета
            .checkbox-input.input-group
                input#amethan.checkbox-button(type='checkbox', name='aeroport')
                label(for='amethan') Симферополь, Амет-хана Султана
            .checkbox-input.input-group
                input#zavodskoe.checkbox-button(type='checkbox', name='aeroport')
                label(for='zavodskoe') Симферополь, Заводское
        // Группа формы (Авиакомпании)
        fieldset.form-group
            p Авиакомпания
            .checkbox-input.input-group
                input#aeroflot.checkbox-button(type='checkbox', name='aviacompany')
                label(for='aeroflot') Аэрофлот
            .checkbox-input.input-group
                input#mau.checkbox-button(type='checkbox', name='aviacompany')
                label(for='mau') МАУ