div(class="ticket-wrap" ng-repeat="itinerarie in ticket.itineraries")
   .date-ticket
      //| туда
      span {{dateFormat(departureSegment(itinerarie.variants[0]).departure_date)}}
   div(class="group-ticket" ng-repeat="variant in itinerarie.variants" ng-click="selectVariant(variant,itinerarie.variants)")
      div(class="ticket-body" ng-class="{'checked-ticket' : variant.checked}")
         .radio-group
            .radio-button
               i(class="fa" ng-class="{'fa-dot-circle-o' : variant.checked,'fa-circle-o' : !variant.checked}")
         include  ./../_common/ticket_partial
         .duration
            p {{translator.trans("frontend.default.list.item.duration")}}:
            .time {{secondsToTime(variant.duration)}}
            include ./../_common/itenerarie_transplant
            //.luggage Багаж: 1 место (20 кг)
