.container
    aside.sidebar(role='sidebar')
        include form
    div(class="main ng-hide" ng-show="tickets.length > 0")
        include calendar
        .list-of-flights
            include ticket
.empty
