.container
    aside.sidebar(role='sidebar')
        form(action='#')
            .group-sidebar
                // Переключатель перелетов
                fieldset.tab-direction
                    .input-group
                        input#one-direction.radio-button(type='radio', name='direction')
                        label(for='one-direction') В одну сторону
                    .input-group
                        input#one-two-direction.radio-button(checked='checked', type='radio', name='direction')
                        label(for='one-two-direction') В обе стороны
                // Переключатель перелетов
                // Группа формы (вылет из, поменять местами перелеты, прилет в)
                fieldset.form-group
                    // Простой поиск
                    .simple-search
                        .departure-from.input-group
                            label(for='#from-avia') Вылет из:
                            .input
                                input#from-avia(type='text', placeholder='Город или аэропорт')
                                span.icon
                                    i.icon-metka
                        .input-group.refresh
                            a(href='#', title='Поменять местами')
                                i.icon-refresh
                        .arriving-in.input-group
                            label(for='#down-avia') Прилет в:
                            .input
                                input#down-avia(type='text', placeholder='Город или аэропорт')
                                span.icon
                                    i.icon-metka
                    // Простой поиск
                // Группа формы
                // Группа формы (дата вылета, дата возврата)
                fieldset.form-group
                    .date-simple.up-date.input-group
                        label(for='#up-date') Дата вылета:
                        button.button-prev-date.controls-date(type='button')
                            i.icon-prev-date
                        .input
                            input#up-date(type='text', placeholder='Дата')
                            span.icon
                                i.icon-date
                        button.button-next-date.controls-date(type='button')
                            i.icon-next-date
                    .date-simple.down-date.input-group
                        label(for='#down-date') Дата возврата:
                        button.button-prev-date.controls-date(type='button')
                            i.icon-prev-date
                        .input
                            input#up-date(type='text', placeholder='Дата')
                            span.icon
                                i.icon-date
                        button.button-next-date.controls-date(type='button')
                            i.icon-next-date
                // Группа формы
                fieldset.form-group
                    // Дополнительные параметры (Прямые рейсы, лучшая цена, выбор авиакомпании, класс обслуживания, взрослые, дети, младенцы)
                    .additional-options
                        .additional-text
                            a(href='#', onclick="openBlock('additional-wrap')")
                                | Дополнительные параметры
                                i.icon-down
                        .additional-wrap
                            .form-group.passenjers-select
                                .adults.input-group
                                    label(for='#adults') Взрослые (12+)
                                    .select
                                        select#adults(name='adults')
                                            option(value='1') 1
                                            option(value='2') 2
                                            option(value='3') 3
                                            option(value='4') 4
                                    .button-group
                                        button.button.add(type='button') +
                                        button.button.minus(type='button') -
                                .children.input-group
                                    label(for='#children') Дети (2-11)
                                    .select
                                        select#children(name='children')
                                            option(value='0') 0
                                            option(value='1') 1
                                            option(value='2') 2
                                            option(value='3') 3
                                    .button-group
                                        button.button.add(type='button') +
                                        button.button.minus(type='button') -
                                    a.age-rule-link(href='#')
                                        | Правила перевозки детей
                                        i.icon-window
                                .infant.input-group
                                    label(for='#infant') Младенцы (0-1)
                                    .select
                                        select#infant(name='infant')
                                            option(value='0') 0
                                            option(value='1') 1
                                            option(value='2') 2
                                            option(value='3') 3
                                    .button-group
                                        button.button.add(type='button') +
                                        button.button.minus(type='button') -
                            .form-group
                                .checkbox-input.input-group
                                    input#only-one-direction.checkbox-button(type='checkbox', name='only-one-direction')
                                    label(for='only-one-direction') Только прямые рейсы
                                .checkbox-input.input-group
                                    input#best-price-three-day.checkbox-button(type='checkbox', name='best-price-three-day')
                                    label(for='best-price-three-day') Лучшая цена +3 дня
                                .checkbox-input.input-group
                                    input#refundable.checkbox-button(type='checkbox', name='refundable')
                                    label(for='refundable') Отменяемый тариф
                            .form-group
                                .aviacompany.input-group
                                    label(for='#aviacompany') Выбор авиакомпании
                                    .select
                                        select#aviacompany(name='aviacompany')
                                            option(value='0') Любая
                                            option(value='1') Любая 1
                                            option(value='2') Любая 2
                                            option(value='3') Любая 3
                                .class-service.input-group
                                    label(for='#class-service') Класс обслуживания
                                    .select
                                        select#class-service(name='class-service')
                                            option(value='0') Эконом
                                            option(value='1') Эконом 1
                                            option(value='2') Эконом 2
                                            option(value='3') Эконом 3
                .button-buy-wrap
                    button.button.button-buy(type='submit') Обновить поиск
            .group-sidebar.fast-filter
                h3 Быстрые фильтры
                // Группа формы (аэропорт вылета)
                fieldset.form-group
                    p Аэропорт вылета
                    .checkbox-input.input-group
                        input#vnukovo.checkbox-button(type='checkbox', name='aeroport')
                        label(for='vnukovo') Москва, Внуково
                    .checkbox-input.input-group
                        input#sheremetevo.checkbox-button(type='checkbox', name='aeroport')
                        label(for='sheremetevo') Москва, Шереметьево
                    .checkbox-input.input-group
                        input#domodedovo.checkbox-button(type='checkbox', name='aeroport')
                        label(for='domodedovo') Москва, Домодедово
                // Группа формы (Аэропорт прилета)
                fieldset.form-group
                    p Аэропорт прилета
                    .checkbox-input.input-group
                        input#amethan.checkbox-button(type='checkbox', name='aeroport')
                        label(for='amethan') Симферополь, Амет-хана Султана
                    .checkbox-input.input-group
                        input#zavodskoe.checkbox-button(type='checkbox', name='aeroport')
                        label(for='zavodskoe') Симферополь, Заводское
                // Группа формы (Авиакомпании)
                fieldset.form-group
                    p Авиакомпания
                    .checkbox-input.input-group
                        input#aeroflot.checkbox-button(type='checkbox', name='aviacompany')
                        label(for='aeroflot') Аэрофлот
                    .checkbox-input.input-group
                        input#mau.checkbox-button(type='checkbox', name='aviacompany')
                        label(for='mau') МАУ
    // Сайдбар
    .main
        // Лучшие предложения (+- 3 дня)
        .calendar-block
            .calendar-head
                h3 Лучшие цены в пределах +/- 3 дней
            .calendar-body
                .obratno
                    i.left-arrow
                    |  Обратно
                table#calendar_table.table-calendar
                    tbody
                        tr
                            td
                                span.tuda
                                    i.right-arrow
                                    |  Туда
                            td 25.06.2015
                            td 26.06.2015
                            td 27.06.2015
                            td 28.06.2015
                            td 29.06.2015
                            td 30.06.2015
                            td 01.07.2015
                        tr
                            td 24.06.2015
                            td
                                a(href='#') 18 176 RUB
                            td
                                a(href='#') 18 176 RUB
                            td
                                a(href='#') 18 176 RUB
                            td
                                a(href='#') 18 176 RUB
                            td
                                a(href='#') 18 176 RUB
                            td
                                a(href='#') 18 176 RUB
                            td
                                a(href='#') 18 176 RUB
                        tr
                            td 25.06.2015
                            td
                                a(href='#') 18 176 RUB
                            td
                                a(href='#') 18 176 RUB
                            td
                                a(href='#') 18 176 RUB
                            td
                                a(href='#') 18 176 RUB
                            td
                                a(href='#') 18 176 RUB
                            td
                                a(href='#') 18 176 RUB
                            td
                                a(href='#') 18 176 RUB
                        tr
                            td 26.06.2015
                            td
                                a(href='#') 18 176 RUB
                            td
                                a(href='#') 18 176 RUB
                            td
                                a(href='#') 18 176 RUB
                            td
                                a(href='#') 18 176 RUB
                            td
                                a(href='#') 18 176 RUB
                            td
                                a(href='#') 18 176 RUB
                        tr
                            td 27.06.2015
                            td
                                span.text-warning.calendar-item
                            td
                                span.text-warning.calendar-item
                            td
                                a(href='#') 18 176 RUB
                            td
                                a(href='#') 18 176 RUB
                            td
                                a(href='#') 18 176 RUB
                            td
                                a(href='#') 18 176 RUB
                            td
                                a(href='#') 18 176 RUB
        // Лучшие предложения
        // Список перелетов
        .list-of-flights
            // Авиабилет
            .ticket
                .logo-alians
                    img(src='images/logo-skyteam.png', alt='')
                .ticket-price
                    h2 8 174 RUB
                    span.col-passenjers
                        | - за
                        span.col-user 1 человека
                        |  с налогами и сборами
                form.book-form(action='')
                    // Группа билетов в сторону прилета
                    .ticket-wrap
                        .date-ticket
                            | туда
                            span 23.06.2015
                        .group-ticket
                            // Билет
                            .ticket-body.checked-ticket
                                // Выбор билета (радио кнопка)
                                .radio-group
                                    .radio-button
                                        input(type='radio', name='info', checked='checked', value='8619FA76-F5E7-4E51-A5D5-BF68620C4EAB')
                                        input(type='hidden', value='5587f13faf632c700200000c', name='info[request_id]')
                                // Выбор билета
                                // Имя компании
                                .company
                                    .image-block
                                        i.city-logo.UN
                                            img(src='images/aeroflot.png', alt='')
                                    .info-block
                                        .name Трансаэро
                                        span.type Боинг 737-500
                                        span.number-reys UN2371
                                // Имя компании
                                // Время вылета
                                .up-date
                                    p Время вылета:
                                    .time 01:25
                                    .city-block
                                        .city Москва
                                        .aeroport
                                            | Домодедово
                                            span.terminal(title='терминал А') A
                                // Время вылета
                                // Время прилета
                                .down-date
                                    p Время вылета:
                                    .time
                                        | 01:25
                                        span + 1 день
                                    .city-block
                                        .city Москва
                                        .aeroport
                                            | Домодедово
                                            span.terminal(title='терминал А') A
                                // Время вылета
                                // Продолжительность
                                .duration
                                    p Продолжительность:
                                    .time 1 ч 35 м
                                    .transplant прямой рейс
                                    .luggage Багаж: 1 место (20 кг)
                                // Продолжительность
                            // Билет
                            // Билет
                            .ticket-body
                                // Выбор билета (радио кнопка)
                                .radio-group
                                    .radio-button
                                        input(type='radio', name='info', value='8619FA76-F5E7-4E51-A5D5-BF68620C4EAB')
                                        input(type='hidden', value='5587f13faf632c700200000c', name='info[request_id]')
                                // Выбор билета
                                // Имя компании
                                .company
                                    .image-block
                                        i.city-logo.UN
                                            img(src='images/aeroflot.png', alt='')
                                    .info-block
                                        .name Трансаэро
                                        span.type Боинг 737-500
                                        span.number-reys UN2371
                                // Имя компании
                                // Время вылета
                                .up-date
                                    p Время вылета:
                                    .time 01:25
                                    .city-block
                                        .city Москва
                                        .aeroport
                                            | Домодедово
                                            span.terminal(title='терминал А') A
                                // Время вылета
                                // Время прилета
                                .down-date
                                    p Время вылета:
                                    .time
                                        | 01:25
                                        span + 1 день
                                    .city-block
                                        .city Москва
                                        .aeroport
                                            | Домодедово
                                            span.terminal(title='терминал А') A
                                // Время вылета
                                // Продолжительность
                                .duration
                                    p Продолжительность:
                                    .time 1 ч 35 м
                                    .transplant прямой рейс
                                    .luggage Багаж: 1 место (20 кг)
                                // Продолжительность
                            // Билет
                    // Группа билетов в сторону прилета
                    // Группа билетов в сторону прилета
                    .ticket-wrap
                        .date-ticket
                            | обратно
                            span 23.06.2015
                        .group-ticket
                            // Билет
                            .ticket-body.checked-ticket
                                // Выбор билета (радио кнопка)
                                .radio-group
                                    .radio-button
                                        input(type='radio', name='info-1', checked='checked', value='8619FA76-F5E7-4E51-A5D5-BF68620C4EAB')
                                        input(type='hidden', value='5587f13faf632c700200000c', name='info[request_id]')
                                // Выбор билета
                                // Имя компании
                                .company
                                    .image-block
                                        i.city-logo.UN
                                            img(src='images/aeroflot.png', alt='')
                                    .info-block
                                        .name Трансаэро
                                        span.type Боинг 737-500
                                        span.number-reys UN2371
                                // Имя компании
                                // Время вылета
                                .up-date
                                    p Время вылета:
                                    .time 01:25
                                    .city-block
                                        .city Москва
                                        .aeroport
                                            | Домодедово
                                            span.terminal(title='терминал А') A
                                // Время вылета
                                // Время прилета
                                .down-date
                                    p Время вылета:
                                    .time
                                        | 01:25
                                        span + 1 день
                                    .city-block
                                        .city Москва
                                        .aeroport
                                            | Домодедово
                                            span.terminal(title='терминал А') A
                                // Время вылета
                                // Продолжительность
                                .duration
                                    p Продолжительность:
                                    .time 1 ч 35 м
                                    .transplant
                                        p перелет с 2 пересадками:
                                        p
                                            b Дубай
                                            | : 7 ч 10 м
                                            i.icon-night
                                            i.icon-bed
                                        p
                                            b Сингапур
                                            | : 1 ч 10 м
                                            i.icon-night
                                            i.icon-time-duration
                                    .luggage Багаж: 1 место (20 кг)
                                // Продолжительность
                            // Билет
                            // Билет
                            .ticket-body
                                // Выбор билета (радио кнопка)
                                .radio-group
                                    .radio-button
                                        input(type='radio', name='info-1', value='8619FA76-F5E7-4E51-A5D5-BF68620C4EAB')
                                        input(type='hidden', value='5587f13faf632c700200000c', name='info[request_id]')
                                // Выбор билета
                                // Имя компании
                                .company
                                    .image-block
                                        i.city-logo.UN
                                            img(src='images/aeroflot.png', alt='')
                                    .info-block
                                        .name Трансаэро
                                        span.type Боинг 737-500
                                        span.number-reys UN2371
                                // Имя компании
                                // Время вылета
                                .up-date
                                    p Время вылета:
                                    .time 01:25
                                    .city-block
                                        .city Москва
                                        .aeroport
                                            | Домодедово
                                            span.terminal(title='терминал А') A
                                // Время вылета
                                // Время прилета
                                .down-date
                                    p Время вылета:
                                    .time
                                        | 01:25
                                        span + 1 день
                                    .city-block
                                        .city Москва
                                        .aeroport
                                            | Домодедово
                                            span.terminal(title='терминал А') A
                                // Время вылета
                                // Продолжительность
                                .duration
                                    p Продолжительность:
                                    .time 1 ч 35 м
                                    .transplant
                                        p перелет с 2 пересадками:
                                        p
                                            b Дубай
                                            | : 7 ч 10 м
                                            i.icon-night
                                            i.icon-bed
                                        p
                                            b Сингапур
                                            | : 1 ч 10 м
                                            i.icon-night
                                            i.icon-time-duration
                                    .luggage Багаж: 1 место (20 кг)
                                // Продолжительность
                            // Билет
                    // Группа билетов в сторону прилета
                    // Группа (купить билет, бронировать билет, оплатить до, тип тарифа)
                    .button-group
                        .right
                            button.button.button-buy(type='button') Бронировать
                        .group
                            p
                                | Оплатить до:
                                b 18:00 часов 23.06.2015 г.
                            p
                                | Тип тарифа:
                                b невозвратный
                    // Группа
            // Авиабилет
            // Авиабилет
            .ticket
                .logo-alians
                    img(src='images/logo-skyteam.png', alt='')
                .ticket-price
                    h2 8 174 RUB
                    span.col-passenjers
                        | - за
                        span.col-user 1 человека
                        |  с налогами и сборами
                form.book-form(action='')
                    // Группа билетов в сторону прилета
                    .ticket-wrap
                        .date-ticket
                            | туда
                            span 23.06.2015
                        .group-ticket
                            // Билет
                            .ticket-body.checked-ticket
                                // Выбор билета (радио кнопка)
                                .radio-group
                                    .radio-button
                                        input(type='radio', name='info', checked='checked', value='8619FA76-F5E7-4E51-A5D5-BF68620C4EAB')
                                        input(type='hidden', value='5587f13faf632c700200000c', name='info[request_id]')
                                // Выбор билета
                                // Имя компании
                                .company
                                    .image-block
                                        i.city-logo.UN
                                            img(src='images/aeroflot.png', alt='')
                                    .info-block
                                        .name Трансаэро
                                        span.type Боинг 737-500
                                        span.number-reys UN2371
                                // Имя компании
                                // Время вылета
                                .up-date
                                    p Время вылета:
                                    .time 01:25
                                    .city-block
                                        .city Москва
                                        .aeroport
                                            | Домодедово
                                            span.terminal(title='терминал А') A
                                // Время вылета
                                // Время прилета
                                .down-date
                                    p Время вылета:
                                    .time
                                        | 01:25
                                        span + 1 день
                                    .city-block
                                        .city Москва
                                        .aeroport
                                            | Домодедово
                                            span.terminal(title='терминал А') A
                                // Время вылета
                                // Продолжительность
                                .duration
                                    p Продолжительность:
                                    .time 1 ч 35 м
                                    .transplant прямой рейс
                                    .luggage Багаж: 1 место (20 кг)
                                // Продолжительность
                            // Билет
                            // Билет
                            .ticket-body
                                // Выбор билета (радио кнопка)
                                .radio-group
                                    .radio-button
                                        input(type='radio', name='info', value='8619FA76-F5E7-4E51-A5D5-BF68620C4EAB')
                                        input(type='hidden', value='5587f13faf632c700200000c', name='info[request_id]')
                                // Выбор билета
                                // Имя компании
                                .company
                                    .image-block
                                        i.city-logo.UN
                                            img(src='images/aeroflot.png', alt='')
                                    .info-block
                                        .name Трансаэро
                                        span.type Боинг 737-500
                                        span.number-reys UN2371
                                // Имя компании
                                // Время вылета
                                .up-date
                                    p Время вылета:
                                    .time 01:25
                                    .city-block
                                        .city Москва
                                        .aeroport
                                            | Домодедово
                                            span.terminal(title='терминал А') A
                                // Время вылета
                                // Время прилета
                                .down-date
                                    p Время вылета:
                                    .time
                                        | 01:25
                                        span + 1 день
                                    .city-block
                                        .city Москва
                                        .aeroport
                                            | Домодедово
                                            span.terminal(title='терминал А') A
                                // Время вылета
                                // Продолжительность
                                .duration
                                    p Продолжительность:
                                    .time 1 ч 35 м
                                    .transplant прямой рейс
                                    .luggage Багаж: 1 место (20 кг)
                                // Продолжительность
                            // Билет
                    // Группа билетов в сторону прилета
                    // Группа билетов в сторону прилета
                    .ticket-wrap
                        .date-ticket
                            | обратно
                            span 23.06.2015
                        .group-ticket
                            // Билет
                            .ticket-body.checked-ticket
                                // Выбор билета (радио кнопка)
                                .radio-group
                                    .radio-button
                                        input(type='radio', name='info-1', checked='checked', value='8619FA76-F5E7-4E51-A5D5-BF68620C4EAB')
                                        input(type='hidden', value='5587f13faf632c700200000c', name='info[request_id]')
                                // Выбор билета
                                // Имя компании
                                .company
                                    .image-block
                                        i.city-logo.UN
                                            img(src='images/aeroflot.png', alt='')
                                    .info-block
                                        .name Трансаэро
                                        span.type Боинг 737-500
                                        span.number-reys UN2371
                                // Имя компании
                                // Время вылета
                                .up-date
                                    p Время вылета:
                                    .time 01:25
                                    .city-block
                                        .city Москва
                                        .aeroport
                                            | Домодедово
                                            span.terminal(title='терминал А') A
                                // Время вылета
                                // Время прилета
                                .down-date
                                    p Время вылета:
                                    .time
                                        | 01:25
                                        span + 1 день
                                    .city-block
                                        .city Москва
                                        .aeroport
                                            | Домодедово
                                            span.terminal(title='терминал А') A
                                // Время вылета
                                // Продолжительность
                                .duration
                                    p Продолжительность:
                                    .time 1 ч 35 м
                                    .transplant
                                        p перелет с 2 пересадками:
                                        p
                                            b Дубай
                                            | : 7 ч 10 м
                                            i.icon-night
                                            i.icon-bed
                                        p
                                            b Сингапур
                                            | : 1 ч 10 м
                                            i.icon-night
                                            i.icon-time-duration
                                    .luggage Багаж: 1 место (20 кг)
                                // Продолжительность
                            // Билет
                            // Билет
                            .ticket-body
                                // Выбор билета (радио кнопка)
                                .radio-group
                                    .radio-button
                                        input(type='radio', name='info-1', value='8619FA76-F5E7-4E51-A5D5-BF68620C4EAB')
                                        input(type='hidden', value='5587f13faf632c700200000c', name='info[request_id]')
                                // Выбор билета
                                // Имя компании
                                .company
                                    .image-block
                                        i.city-logo.UN
                                            img(src='images/aeroflot.png', alt='')
                                    .info-block
                                        .name Трансаэро
                                        span.type Боинг 737-500
                                        span.number-reys UN2371
                                // Имя компании
                                // Время вылета
                                .up-date
                                    p Время вылета:
                                    .time 01:25
                                    .city-block
                                        .city Москва
                                        .aeroport
                                            | Домодедово
                                            span.terminal(title='терминал А') A
                                // Время вылета
                                // Время прилета
                                .down-date
                                    p Время вылета:
                                    .time
                                        | 01:25
                                        span + 1 день
                                    .city-block
                                        .city Москва
                                        .aeroport
                                            | Домодедово
                                            span.terminal(title='терминал А') A
                                // Время вылета
                                // Продолжительность
                                .duration
                                    p Продолжительность:
                                    .time 1 ч 35 м
                                    .transplant
                                        p перелет с 2 пересадками:
                                        p
                                            b Дубай
                                            | : 7 ч 10 м
                                            i.icon-night
                                            i.icon-bed
                                        p
                                            b Сингапур
                                            | : 1 ч 10 м
                                            i.icon-night
                                            i.icon-time-duration
                                    .luggage Багаж: 1 место (20 кг)
                                // Продолжительность
                            // Билет
                    // Группа билетов в сторону прилета
                    // Группа (купить билет, бронировать билет, оплатить до, тип тарифа)
                    .button-group
                        .right
                            button.button.button-buy(type='button') Бронировать
                        .group
                            p
                                | Оплатить до:
                                b 18:00 часов 23.06.2015 г.
                            p
                                | Тип тарифа:
                                b невозвратный
                    // Группа
            // Авиабилет
        // Список перелетов
.empty
