div(class="ticket" ng-repeat="ticket in tickets")
    .logo-alians
        img(src='/bundles/aviagofrontend/images/logo-skyteam.png', alt='')
    .ticket-price
        h2 {{ticket.total_price}} {{ticket.currency}}
        span.col-passenjers
            | - за
            span.col-user 1 человека
            |  с налогами и сборами
    include itinerarie

    .button-group
        .right
            button(class="button button-buy" type='button' ng-click="book(ticket)") Бронировать
        .group

            p(ng-show="ticket.last_ticket_date")
                | Оплатить до:
                b {{dateFormat(ticket.last_ticket_date,"H:mm D.M.YYYY")}}
            p(ng-hide="ticket.refundable")
                | Тип тарифа:
                b невозвратный