{% extends "BundlesDefaultBundle:Layouts:main.html.twig" %}
{% block js %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('build/dist/js/list/index.js') }}"></script>
    <script type="application/javascript">
        $('body').on('submit','.book-form',function(){
            _GlobalAppObject.loadingStart();
            $.post($(this).attr('action'),$(this).serialize(),function(data){
                window.location = data.url;
            }).error(function(){
                _GlobalAppObject.loadingStop();
            });
            return false;
        });
    </script>

{% endblock %}
{% block body %}
    <script>
        var searchForm = {{ form_data|json_encode|raw }};

    </script>
    <div class="col-md-3 filter-form">
        <div class="well bg-gradient list-form-input">
            {% include "BundlesDefaultBundle:Api:_form.html.twig" %}
        </div>
        <div class="well bg-gradient list-form-input">
            <div id="search-result-box">

            </div>
        </div>
    </div>
    <div class="col-md-9 result-box">
        <div class="well well-box" data-bind="visible: viewCalendar">
            <div class="panel panel-box panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">{%trans%}frontend.default.calendar.best_price{%endtrans%}</h3>
                </div>
                <div  id="avia-calendar-box" class="panel-body">
                    <img alt="" src="{{ asset('bundles/bundlesdefault/img/ajax-loader.gif') }}" />
                </div>
            </div>
        </div>
        <div id="result-box">
        </div>
        <div class="btn btn-default" data-bind="visible:hasNext, click:getNext">
            {%trans%}frontend.default.list.show_more{%endtrans%}
        </div>

    </div>
    <div id="calendar-popup">

    </div>



{% endblock %}
