.now-find-wrap
    .title Сейчас на сайте находят
    .list-now-flights
        .item
            i.icon-airlines
            span.info-flight Москва - Симферополь
            span.price-flight 3 000 P
        .item
            i.icon-airlines
            span.info-flight Москва - Симферополь
            span.price-flight 3 000 P
        .item
            i.icon-airlines
            span.info-flight Москва - Симферополь
            span.price-flight 3 000 P
        .item
            i.icon-airlines
            span.info-flight Москва - Симферополь
            span.price-flight 3 000 P
        .item
            i.icon-airlines
            span.info-flight Москва - Симферополь
            span.price-flight 3 000 P
.services-button
    a(href='#')
        i.icon-time
        span Время работы
    a(href='#')
        i.icon-help
        span Помощь
    a(href='#')
        i.icon-skype
        span Свяжитесь
.pay-for-booking
    button.button.button-buy(type='submit')
        | Оплатить
        br
        |  бронь