{% extends "BundlesDefaultBundle:Layouts:main.html.twig" %}
{% block headerJs %}

    <script type="text/javascript">
        $(function($) {
            _GlobalAppObject.searchUrl = "{{ path('bundles_default_search_city') }}";
            $("#ui-id-1").prependTo(".city-from");
            $("#ui-id-2").prependTo(".city-to");
        });
    </script>
    <script type="application/javascript" src="{{ asset('build/dist/js/app/index.js') }}" async></script>


{% endblock %}
{% block body %}
    <div class="col-md-3 filter-form">
        <div class="well bg-gradient list-form-input">
            {% include "BundlesDefaultBundle:Api:_form.html.twig" %}
        </div>
        <div class="well bg-gradient list-form-input">
            <div id="search-result-box">

            </div>
        </div>
    </div>
    <div class="col-md-9 result-box">
        {% if form.best_price.vars.data %}
            <div class="well well-box calendar-block calendar-box">
                <div class="panel panel-box panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">{%trans%}frontend.default.calendar.best_price{%endtrans%}</h3>
                    </div>
                    <div  id="avia-calendar-box" class="panel-body">
                        <img alt="" src="{{ asset('/bundles/bundlesdefault/img/ajax-loader.gif') }}" />
                    </div>
                </div>
            </div>
        {% endif %}
        <div id="result-box">
            {#{% include 'BundlesDefaultBundle:Api:_items.html.twig' with {data: data} %}#}
        </div>
        {#{% if pages > 1 %}#}
            <div class="btn btn-default hidden" id="get-next">{%trans%}frontend.default.list.show_more{%endtrans%}</div>
        {#{% endif %}#}
    </div>
    <div id="calendar-popup">

    </div>



{% endblock %}
