aside.sidebar(role='sidebar')
    div(class="group-sidebar" ng-repeat="ticket in tickets")
        .info-order
            h3 {{translator.trans("frontend.default.order.order_info")}}
            .ticket-group
                div(class="title") {{$index+1}} {{getTicketTypeName(ticket)}}
                div(class="ticket" ng-repeat="itener in ticket.itineraries")
                    |{{dateFormat(departureSegment(itener.variants[0]).departure_date,"DD.MM.YYYY HH:mm")}}
                    |{{departureSegment(itener.variants[0]).departure_city}} -> {{arrivalSegment(itener.variants[0]).arrival_city}},
                    |{{secondsToTime(itener.variants[0].duration)}}, {{getVariantTypeName(itener.variants[0])}}
            div(class="passenjer-group" ng-repeat="traveler in getCurrentTravelers(ticket)")
                .title {{translator.trans("frontend.default.order.pass."+traveler.toLowerCase(),{"count": $index+1})}}
                table
                    tbody
                        tr
                            td {{translator.trans("frontend.default.order.rate")}}
                            td(align='right') {{formatPrice(getPricingByName(ticket,traveler).Base)}} {{getPricingByName(ticket,traveler).Currency}}
                        tr
                            td {{translator.trans("frontend.default.order.tax_fees")}}
                            td(align='right') {{formatPrice(getPricingByName(ticket,traveler).Tax)}} {{getPricingByName(ticket,traveler).Currency}}
                        tr
                            td {{translator.trans("frontend.default.order.ag_fees")}}
                            td(align='right') {{formatPrice(getPricingByName(ticket,traveler).Fee)}} {{getPricingByName(ticket,traveler).Currency}}
                    tfoot
                        tr
                            td {{translator.trans("frontend.default.order.in_total")}}
                            td(align='right') {{formatPrice(ticket.total_price)}} {{ticket.currency}}
            //p Все цены указаны в рублях РФ.
            p {{translator.trans("frontend.default.order.order_info")}}