.company
   .image-block
      div(class="i city-logo UN")
         img(class="{{depSeg.marketing_airline}}" src='/bundles/aviagofrontend/images/aeroflot.png', alt='')
   .info-block
      .name {{ depSeg.marketing_airline}}
      span.type {{ depSeg.marketing_airline_name }}
      br
      span.number-reys {{ depSeg.aircraft_name }} {{flightNumbers}}
.up-date
   p {{translator.trans("frontend.default.list.item.departure_time")}}:
   .time {{dateFormat(depSeg.departure_date,"HH:mm")}}
   .city-block
      .city {{depSeg.departure_city_name}}
      .aeroport
         | {{ depSeg.departure_airport_name }}
         span.terminal(
         ng-show="depSeg.departure_terminal"
         title='терминал {{depSeg.departure_terminal}}') {{depSeg.departure_terminal}}
.down-date
   p {{translator.trans("frontend.default.list.item.arrival_time")}}:
   .time
      | {{ dateFormat(arrSeg.arrival_date,"HH:mm") }}
      span(class="ng-hide" ng-init="diff_days = dateDiff(arrSeg.arrival_date,depSeg.departure_date)" ng-show="diff_days > 0") {{translator.transChoice('frontend.default.list.diff_day',diff_days, {'num':diff_days})}}
   .city-block
      .city {{arrSeg.arrival_city_name}}
      .aeroport
         | {{ arrSeg.arrival_airport_name }}
         span.terminal(
         ng-show="arrSeg.arrival_terminal"
         title='терминал {{arrSeg.arrival_terminal}}') {{arrSeg.arrival_terminal}}