<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        {#<a href="/" class="brand" style="padding:8px 20px;"><i class="icon-coffee"> CMF</i></a>#}
        <div class="collapse navbar-collapse">
            {#{{ knp_menu_render('AcmeAdminBundle:Builder:mainMenu', {'currentClass': 'active', 'template': 'AcmeAdminBundle:KnpMenu:knp_menu.html.twig'}) }}#}
            {{ knp_menu_render('AcmeAdminBundle:Builder:userMenu', {'currentClass': 'active', 'template': 'AcmeAdminBundle:KnpMenu:knp_menu.html.twig'}) }}
        </div>
    </div>
</nav>