include ../../form/layout
div(ng-repeat="(key, value) in form.passengers")
    div(class="booking-group passenjer" ng-repeat="passenger in value")
        .title Пассажир №{{$index+1}} ({{key}})
        .form
            .form-group
                +input()(wrapClass='last-name-group input-group' ang-prefix="passenger.Name")
                +input()(wrapClass='name-group input-group' ang-prefix="passenger.Surname")
                +radio()(wrapClass='sex-group input-group' label="Пол" ang-prefix="passenger.Sex")


            .form-group
                +input()(wrapClass='name-group input-group' ang-prefix="passenger.Birthday")
                +choice()(wrapClass='citizenship-group input-group' ang-prefix="passenger.Citizen")
                +input()(wrapClass='name-group input-group' ang-prefix="passenger.Document.Number")
                +input()(wrapClass='name-group input-group' ang-prefix="passenger.Document.ExpireDate")
