include ../../form/layout
div(ng-repeat="(key, value) in form.passengers")
    div(class="booking-group passenjer" ng-repeat="passenger in value")
        .title Пассажир №{{$index+1}} ({{key}})
        .form
            .form-group
                +input()(wrapClass='last-name-group input-group' ang-prefix="passenger.Name")
                +input()(wrapClass='name-group input-group' ang-prefix="passenger.Surname")
                div(class="sex-group input-group")
                    div(class="label") Пол
                    div(class="radio" ng-repeat="sex in passenger.Sex")
                        input(class="radio-button" id="{{sex.id}}" type='radio', name='sex' ng-model="sex.data")
                        label(for='{{sex.id}}') {{sex.label}}

            .form-group
                .date-group.input-group
                    .label Дата рождения
                    .day-input.input
                        input(type='text', placeholder='дд')
                    .month-day.input
                        input(type='text', placeholder='мм')
                    .year-day.input
                        input(type='text', placeholder='гггг')
                +choice()(wrapClass='citizenship-group input-group' ang-prefix="passenger.Citizen")

                .num-document-group.input-group
                    label(for='') Серия и № паспорта
                    .input
                        input(type='text', placeholder='латиницей Sidorenko')
                .date-document-group.input-group
                    .label Срок действия документа
                    .day-input.input
                        input(maxlength='2', type='text', placeholder='дд')
                    .month-day.input
                        input(maxlength='2', type='text', placeholder='мм')
                    .year-day.input
                        input(maxlength='4', type='text', placeholder='гггг')
            .additional-text
                a(href='#')
                    | Дополнительные параметры
                    i.icon-down
            .form-group.additional-wrap
                .aviacompany-group.input-group
                    label(for='') Авиакомпания
                    .input
                        input(type='text', placeholder='паспорт')
                .num-mil-group.input-group
                    label(for='') Номер мильной карты
                    .input
                        input(type='text', placeholder='Украина')
                .wishes-group.input-group
                    .label Особые пожелания
                    .input
                        input(type='text', placeholder='Место')
                    .input
                        input(type='text', placeholder='Питание')