include ../../form/layout
div(ng-repeat="(key, value) in form.passengers")
    div(class="booking-group passenjer" ng-repeat="passenger in value")
        .title Пассажир №{{$index+1}} ({{key}})
        .form
            .form-group
                +input()(wrapClass='last-name-group input-group' ang-prefix="passenger.Name")
                +input()(wrapClass='name-group input-group' ang-prefix="passenger.Surname")
                div(class="sex-group input-group")
                    div(class="label") Пол
                    div(class="radio" ng-repeat="sex in passenger.Sex" ng-class="{error: passenger.Sex.errors.length > 0}")
                        input(class="radio-button" id="{{sex.id}}" type='radio', name='{{sex.full_name}}' ng-model="sex.data")
                        label(for='{{sex.id}}') {{sex.label}}

            .form-group
                +input()(wrapClass='name-group input-group' ang-prefix="passenger.Birthday")
                +choice()(wrapClass='citizenship-group input-group' ang-prefix="passenger.Citizen")
                +input()(wrapClass='name-group input-group' ang-prefix="passenger.Document.Number")
                +input()(wrapClass='name-group input-group' ang-prefix="passenger.Document.ExpireDate")
